{
  "swagger": "2.0",
  "info": {
    "title": "incident.io",
    "description": "This is the API reference for incident.io.\n\nIt documents available API endpoints, provides examples of how to use it, and\ninstructions around things like authentication and error handling.\n\nThe API is hosted at:\n\n- https://api.incident.io/\n\nAnd you will need to create an API key via your [incident.io\ndashboard](https://app.incident.io/settings/api-keys) to make requests.\n\n# Making requests\n\nHere are the key concepts required to make requests to the incident.io API.\n\n## Authentication\n\nFor all requests made to the incident.io API, you'll need an API key.\n\nTo create an API key, head to the incident dashboard and visit [API\nkeys](https://app.incident.io/settings/api-keys). When you create the key,\nyou'll be able to choose what actions it can take for your account: choose\ncarefully, as those roles can only be set when you first create the key. We'll\nonly show you the token once, so make sure you store it somewhere safe.\n\nOnce you have the key, you should make requests to the API that set the\n`Authorization` request header using a \"Bearer\" authentication scheme:\n\n```\nAuthorization: Bearer <YOUR_API_KEY>\n```\n\n## Errors\n\nWe use standard HTTP response codes to indicate the status or failure of API\nrequests.\n\nThe API response body will be JSON, and contain more detailed information on the\nnature of the error.\n\nAn example error when a request is made without an API key:\n\n```json\n{\n  \"type\": \"authentication_error\",\n  \"status\": 401,\n  \"request_id\": \"8e3cc412-b49d-4957-9073-2c19d2c61804\",\n  \"errors\": [\n    {\n      \"code\": \"missing_authorization_material\",\n      \"message\": \"No authorization material provided in request\"\n    }\n  ]\n}\n```\n\nNote that the error:\n\n- Contains the HTTP status (`401`)\n- References the type of error (`authentication_error`)\n- Includes a `request_id` that can be provided to incident.io support to help\n\tdebug questions with your API request\n- Provides a list of individual errors, which go into detail about why the error\n\toccurred\n\nThe most common error will be a 422 Validation Error, which is returned when the\nrequest was rejected due to failing validations.\n\nThese errors look like this:\n\n```json\n{\n  \"type\": \"validation_error\",\n  \"status\": 422,\n  \"request_id\": \"631766c4-4afd-4803-997c-cd700928fa4b\",\n  \"errors\": [\n    {\n      \"code\": \"is_required\",\n      \"message\": \"A severity is required to open an incident\",\n      \"source\": {\n        \"field\": \"severity_id\"\n      }\n    }\n  ]\n}\n```\n\nThis error is caused by not providing a severity identifier, which should be at\nthe `severity_id` field of the request payload. Errors like these can be mapped to\nforms, should you be integrating with the API from a user-interface.\n\n## Compatibility\n\nWe won't make breaking changes to existing API services or endpoints, but will\nexpect integrators to upgrade themselves to the latest API endpoints within 3\nmonths of us deprecating the old service.\n\nWe will make changes that are considered backwards compatible, which include:\n\n- Adding new API endpoints and services\n- Adding new properties to responses from existing API endpoints\n- Reordering properties returned from existing API endpoints\n- Adding optional request parameters to existing API endpoints\n- Altering the format or length of IDs\n- Adding new values to enums\n\nIt is important that clients are robust to these changes, to ensure reliable\nintegrations.\n\nAs an example, if you are generating a client using an openapi-generator, ensure\nthe generated client is configured to support unknown enum values, often\nconfigured via the `enumUnknownDefaultCase` parameter.\n\nWhen breaking changes are unavoidable, we'll create a new service version on a\nseparate path, and run them in parallel.\n\nFor example:\n\n- https://api.incident.io/v1/incidents\n- https://api.incident.io/v2/incidents\n\nFor any questions, email support@incident.io.\n",
    "version": "1.0.0"
  },
  "host": "api.incident.io",
  "consumes": [
    "application/json",
    "application/xml",
    "application/gob"
  ],
  "produces": [
    "application/json",
    "application/xml",
    "application/gob"
  ],
  "paths": {
    "/v1/actions": {
      "get": {
        "description": "List all actions for an organisation.",
        "operationId": "Actions V1#List",
        "parameters": [
          {
            "description": "Find actions related to this incident",
            "in": "query",
            "name": "incident_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter to actions marked as being follow up actions",
            "in": "query",
            "name": "is_follow_up",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Filter to actions from incidents of the given mode. If not set, only actions from `real` incidents are returned",
            "enum": [
              "real",
              "test",
              "tutorial"
            ],
            "in": "query",
            "name": "incident_mode",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ActionsV1ListResponseBody",
              "required": [
                "actions"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "List Actions V1",
        "tags": [
          "Actions V1"
        ],
        "deprecated": true
      }
    },
    "/v1/actions/{id}": {
      "get": {
        "description": "Get a single incident action.",
        "operationId": "Actions V1#Show",
        "parameters": [
          {
            "description": "Unique identifier for the action",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ActionsV1ShowResponseBody",
              "required": [
                "action"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Show Actions V1",
        "tags": [
          "Actions V1"
        ],
        "deprecated": true
      }
    },
    "/v1/custom_field_options": {
      "get": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "List Custom Field Options V1",
        "description": "Show custom field options for a custom field",
        "operationId": "Custom Field Options V1#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "A custom field option's ID. This endpoint will return a list of custom field options created after this option.",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom_field_id",
            "in": "query",
            "description": "The custom field to list options for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1ListResponseBody",
              "required": [
                "custom_field_options",
                "pagination_meta"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Create Custom Field Options V1",
        "description": "Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.",
        "operationId": "Custom Field Options V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1CreateRequestBody",
              "required": [
                "custom_field_id",
                "value"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1CreateResponseBody",
              "required": [
                "custom_field_option"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/custom_field_options/{id}": {
      "get": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Show Custom Field Options V1",
        "description": "Get a single custom field option",
        "operationId": "Custom Field Options V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1ShowResponseBody",
              "required": [
                "custom_field_option"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Update Custom Field Options V1",
        "description": "Update a custom field option",
        "operationId": "Custom Field Options V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1UpdateRequestBody",
              "required": [
                "value",
                "custom_field_id",
                "sort_key"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1UpdateResponseBody",
              "required": [
                "custom_field_option"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Delete Custom Field Options V1",
        "description": "Delete a custom field option",
        "operationId": "Custom Field Options V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/custom_fields": {
      "get": {
        "description": "List all custom fields for an organisation.",
        "operationId": "Custom Fields V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1ListResponseBody",
              "required": [
                "custom_fields"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "List Custom Fields V1",
        "tags": [
          "Custom Fields V1"
        ],
        "deprecated": true
      },
      "post": {
        "description": "Create a new custom field",
        "operationId": "Custom Fields V1#Create",
        "parameters": [
          {
            "in": "body",
            "name": "CreateRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1CreateRequestBody",
              "required": [
                "id",
                "name",
                "description",
                "field_type",
                "show_before_creation",
                "show_before_closure",
                "show_before_update",
                "options",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1CreateResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Create Custom Fields V1",
        "tags": [
          "Custom Fields V1"
        ],
        "deprecated": true
      }
    },
    "/v1/custom_fields/{id}": {
      "get": {
        "description": "Get a single custom field.",
        "operationId": "Custom Fields V1#Show",
        "parameters": [
          {
            "description": "Unique identifier for the custom field",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1ShowResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Show Custom Fields V1",
        "tags": [
          "Custom Fields V1"
        ],
        "deprecated": true
      },
      "put": {
        "description": "Update the details of a custom field",
        "operationId": "Custom Fields V1#Update",
        "parameters": [
          {
            "description": "Unique identifier for the custom field",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "UpdateRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1UpdateRequestBody",
              "required": [
                "name",
                "description",
                "field_type",
                "show_before_creation",
                "show_before_closure",
                "show_before_update",
                "options",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1UpdateResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Update Custom Fields V1",
        "tags": [
          "Custom Fields V1"
        ],
        "deprecated": true
      },
      "delete": {
        "description": "Delete a custom field",
        "operationId": "Custom Fields V1#Delete",
        "parameters": [
          {
            "description": "Unique identifier for the custom field",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Delete Custom Fields V1",
        "tags": [
          "Custom Fields V1"
        ],
        "deprecated": true
      }
    },
    "/v1/identity": {
      "get": {
        "tags": [
          "Utilities V1"
        ],
        "summary": "Identity Utilities V1",
        "description": "Test if your API key is valid, and which roles it has.",
        "operationId": "Utilities V1#Identity",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/UtilitiesV1IdentityResponseBody",
              "required": [
                "identity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_attachments": {
      "get": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "List Incident Attachments V1",
        "description": "List all incident attachments for a given external resource or incident. You must provide either a specific incident ID or a specific external resource type and external ID.",
        "operationId": "Incident Attachments V1#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Incident that this attachment is against",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "ID of the resource in the external system",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_type",
            "in": "query",
            "description": "E.g. PagerDuty: the external system that holds the resource",
            "required": false,
            "type": "string",
            "enum": [
              "pager_duty_incident",
              "opsgenie_alert",
              "datadog_monitor_alert",
              "github_pull_request",
              "gitlab_merge_request",
              "sentry_issue",
              "jira_issue",
              "atlassian_statuspage_incident",
              "zendesk_ticket",
              "google_calendar_event",
              "outlook_calendar_event",
              "scrubbed",
              "statuspage_incident"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentAttachmentsV1ListResponseBody",
              "required": [
                "incident_attachments"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "Create Incident Attachments V1",
        "description": "Attaches an external resource to an incident",
        "operationId": "Incident Attachments V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentAttachmentsV1CreateRequestBody",
              "required": [
                "incident_id",
                "resource"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentAttachmentsV1CreateResponseBody",
              "required": [
                "incident_attachment"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_attachments/{id}": {
      "delete": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "Delete Incident Attachments V1",
        "description": "Unattaches an external resource from an incident",
        "operationId": "Incident Attachments V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of this incident membership",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_memberships": {
      "post": {
        "tags": [
          "Incident Memberships V1"
        ],
        "summary": "Create Incident Memberships V1",
        "description": "Makes a user a member of a private incident",
        "operationId": "Incident Memberships V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentMembershipsV1CreateRequestBody",
              "required": [
                "user_id",
                "incident_id"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentMembershipsV1CreateResponseBody",
              "required": [
                "incident_membership"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_memberships/actions/revoke": {
      "post": {
        "tags": [
          "Incident Memberships V1"
        ],
        "summary": "Revoke Incident Memberships V1",
        "description": "Revoke a user's membership of a private incident",
        "operationId": "Incident Memberships V1#Revoke",
        "parameters": [
          {
            "name": "RevokeRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentMembershipsV1RevokeRequestBody",
              "required": [
                "user_id",
                "incident_id"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_roles": {
      "get": {
        "description": "List all incident roles for an organisation.",
        "operationId": "Incident Roles V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1ListResponseBody",
              "required": [
                "incident_roles"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "List Incident Roles V1",
        "tags": [
          "Incident Roles V1"
        ],
        "deprecated": true
      },
      "post": {
        "description": "Create a new incident role",
        "operationId": "Incident Roles V1#Create",
        "parameters": [
          {
            "in": "body",
            "name": "CreateRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1CreateRequestBody",
              "required": [
                "name",
                "shortform",
                "description",
                "instructions",
                "required",
                "condition_groups",
                "id",
                "role_type",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1CreateResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Create Incident Roles V1",
        "tags": [
          "Incident Roles V1"
        ],
        "deprecated": true
      }
    },
    "/v1/incident_roles/{id}": {
      "get": {
        "description": "Get a single incident role.",
        "operationId": "Incident Roles V1#Show",
        "parameters": [
          {
            "description": "Unique identifier for the role",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1ShowResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Show Incident Roles V1",
        "tags": [
          "Incident Roles V1"
        ],
        "deprecated": true
      },
      "put": {
        "description": "Update an existing incident role",
        "operationId": "Incident Roles V1#Update",
        "parameters": [
          {
            "description": "Unique identifier for the role",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "UpdateRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1UpdateRequestBody",
              "required": [
                "name",
                "shortform",
                "description",
                "instructions",
                "condition_groups",
                "role_type",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1UpdateResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Update Incident Roles V1",
        "tags": [
          "Incident Roles V1"
        ],
        "deprecated": true
      },
      "delete": {
        "description": "Removes an existing role",
        "operationId": "Incident Roles V1#Delete",
        "parameters": [
          {
            "description": "Unique identifier for the role",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Delete Incident Roles V1",
        "tags": [
          "Incident Roles V1"
        ],
        "deprecated": true
      }
    },
    "/v1/incident_statuses": {
      "get": {
        "tags": [
          "Incident Statuses V1"
        ],
        "summary": "List Incident Statuses V1",
        "description": "List all incident statuses for an organisation.",
        "operationId": "Incident Statuses V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1ListResponseBody",
              "required": [
                "incident_statuses"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incident Statuses V1"
        ],
        "summary": "Create Incident Statuses V1",
        "description": "Create a new incident status",
        "operationId": "Incident Statuses V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1CreateRequestBody",
              "required": [
                "name",
                "description",
                "category",
                "id",
                "rank",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1CreateResponseBody",
              "required": [
                "incident_status"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_statuses/{id}": {
      "get": {
        "tags": [
          "Incident Statuses V1"
        ],
        "summary": "Show Incident Statuses V1",
        "description": "Get a single incident status.",
        "operationId": "Incident Statuses V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1ShowResponseBody",
              "required": [
                "incident_status"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Incident Statuses V1"
        ],
        "summary": "Update Incident Statuses V1",
        "description": "Update an existing incident status",
        "operationId": "Incident Statuses V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1UpdateRequestBody",
              "required": [
                "name",
                "description",
                "rank",
                "category",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1UpdateResponseBody",
              "required": [
                "incident_status"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Incident Statuses V1"
        ],
        "summary": "Delete Incident Statuses V1",
        "description": "Delete an incident status",
        "operationId": "Incident Statuses V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_types": {
      "get": {
        "tags": [
          "Incident Types V1"
        ],
        "summary": "List Incident Types V1",
        "description": "List all incident types for an organisation.",
        "operationId": "Incident Types V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTypesV1ListResponseBody",
              "required": [
                "incident_types"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_types/{id}": {
      "get": {
        "tags": [
          "Incident Types V1"
        ],
        "summary": "Show Incident Types V1",
        "description": "Get a single incident type.",
        "operationId": "Incident Types V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this Incident Type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTypesV1ShowResponseBody",
              "required": [
                "incident_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incidents": {
      "get": {
        "description": "List all incidents for an organisation.",
        "operationId": "Incidents V1#List",
        "parameters": [
          {
            "default": 25,
            "description": "Integer number of records to return",
            "in": "query",
            "maximum": 500,
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.",
            "in": "query",
            "name": "after",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Filter for incidents in these statuses",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "status",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV1ListResponseBody",
              "required": [
                "incidents"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "List Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      },
      "post": {
        "description": "Create a new incident.",
        "operationId": "Incidents V1#Create",
        "parameters": [
          {
            "in": "body",
            "name": "CreateRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentsV1CreateRequestBody",
              "required": [
                "idempotency_key",
                "visibility"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV1CreateResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Create Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      }
    },
    "/v1/incidents/{id}": {
      "get": {
        "description": "Get a single incident.",
        "operationId": "Incidents V1#Show",
        "parameters": [
          {
            "description": "Unique identifier for the incident",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV1ShowResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Show Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Utilities V1"
        ],
        "summary": "OpenAPI Utilities V1",
        "description": "Get the OpenAPI (v2) definition.",
        "operationId": "Utilities V1#OpenAPI",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {}
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/openapiV3.json": {
      "get": {
        "tags": [
          "Utilities V1"
        ],
        "summary": "OpenAPIV3 Utilities V1",
        "description": "Get the OpenAPI (v3) definition.",
        "operationId": "Utilities V1#OpenAPIV3",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {}
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/severities": {
      "get": {
        "tags": [
          "Severities V1"
        ],
        "summary": "List Severities V1",
        "description": "List all incident severities for an organisation.",
        "operationId": "Severities V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1ListResponseBody",
              "required": [
                "severities"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Create Severities V1",
        "description": "Create a new severity",
        "operationId": "Severities V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SeveritiesV1CreateRequestBody",
              "required": [
                "name",
                "description"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1CreateResponseBody",
              "required": [
                "severity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/severities/{id}": {
      "get": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Show Severities V1",
        "description": "Get a single incident severity.",
        "operationId": "Severities V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1ShowResponseBody",
              "required": [
                "severity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Update Severities V1",
        "description": "Update an existing severity",
        "operationId": "Severities V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SeveritiesV1UpdateRequestBody",
              "required": [
                "name",
                "description"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1UpdateResponseBody",
              "required": [
                "severity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Delete Severities V1",
        "description": "Delete a severity",
        "operationId": "Severities V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/actions": {
      "get": {
        "tags": [
          "Actions V2"
        ],
        "summary": "List Actions V2",
        "description": "List all actions for an organisation.",
        "operationId": "Actions V2#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Find actions related to this incident",
            "required": false,
            "type": "string"
          },
          {
            "name": "incident_mode",
            "in": "query",
            "description": "Filter to actions from incidents of the given mode. If not set, only actions from `standard` and `retrospective` incidents are returned",
            "required": false,
            "type": "string",
            "enum": [
              "standard",
              "retrospective",
              "test",
              "tutorial",
              "stream"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ActionsV2ListResponseBody",
              "required": [
                "actions"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/actions/{id}": {
      "get": {
        "tags": [
          "Actions V2"
        ],
        "summary": "Show Actions V2",
        "description": "Get a single incident action.",
        "operationId": "Actions V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the action",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ActionsV2ShowResponseBody",
              "required": [
                "action"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/alert_events/http/{alert_source_config_id}": {
      "post": {
        "tags": [
          "Alert Events V2"
        ],
        "summary": "CreateHTTP Alert Events V2",
        "description": "Create an alert event using an HTTP source.",
        "operationId": "Alert Events V2#CreateHTTP",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Token used to authenticate the request, generated when configuring the alert source. Will be consumed via a URL query string parameter",
            "required": false,
            "type": "string"
          },
          {
            "name": "alert_source_config_id",
            "in": "path",
            "description": "Which alert source config produced this alert",
            "required": true,
            "type": "string"
          },
          {
            "name": "authorization",
            "in": "header",
            "description": "Whatever is provided in the Authorization header. We support either Basic or Bearer authorization with the secret provided on the alert source.",
            "required": false,
            "type": "string"
          },
          {
            "name": "CreateHTTPRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertEventsV2CreateHTTPRequestBody",
              "required": [
                "title",
                "status"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response.",
            "schema": {
              "$ref": "#/definitions/AlertResult",
              "required": [
                "status",
                "message",
                "deduplication_key"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/alert_routes": {
      "post": {
        "tags": [
          "Alert Routes V2"
        ],
        "summary": "Create Alert Routes V2",
        "description": "Create an alert route.\n\nWe recommend you create alert routes in the incident.io dashboard where we allow\npreviewing filter and grouping rules.\n",
        "operationId": "Alert Routes V2#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertRoutesV2CreateRequestBody"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/AlertRoutesV2CreateResponseBody",
              "required": [
                "alert_route"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/alert_routes/{id}": {
      "get": {
        "tags": [
          "Alert Routes V2"
        ],
        "summary": "Show Alert Routes V2",
        "description": "Show an alert route.\n\nWe recommend you create alert routes in the incident.io dashboard where we allow\npreviewing filter and grouping rules.\n",
        "operationId": "Alert Routes V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this alert route config",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AlertRoutesV2ShowResponseBody",
              "required": [
                "alert_route"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Alert Routes V2"
        ],
        "summary": "Update Alert Routes V2",
        "description": "Updates an alert route.\n\nWe recommend you create alert routes in the incident.io dashboard where we allow\npreviewing filter and grouping rules.\n",
        "operationId": "Alert Routes V2#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this alert route config",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AlertRoutesV2UpdateRequestBody",
              "required": [
                "name",
                "condition_groups",
                "grouping_keys",
                "grouping_window_seconds",
                "defer_time_seconds",
                "escalation_bindings",
                "auto_decline_enabled",
                "enabled",
                "incident_enabled",
                "is_private",
                "incident_condition_groups",
                "alert_sources",
                "auto_cancel_escalations"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/AlertRoutesV2UpdateResponseBody",
              "required": [
                "alert_route"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Alert Routes V2"
        ],
        "summary": "Destroy Alert Routes V2",
        "description": "Archives an alert route.\n\nWe recommend you create alert routes in the incident.io dashboard where we allow\npreviewing filter and grouping rules.\n",
        "operationId": "Alert Routes V2#Destroy",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this alert route config",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_entries": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ListEntries Catalog V2",
        "description": "List entries for a catalog type.",
        "operationId": "Catalog V2#ListEntries",
        "parameters": [
          {
            "name": "catalog_type_id",
            "in": "query",
            "description": "ID of this catalog type",
            "required": true,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Integer number of records to return",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 250
          },
          {
            "name": "after",
            "in": "query",
            "description": "An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ListEntriesResponseBody",
              "required": [
                "catalog_type",
                "catalog_entries",
                "pagination_meta"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "CreateEntry Catalog V2",
        "description": "Create an entry within the catalog. We support a maximum of 50,000 entries per type.\n\nIf you call this API with a payload where the external_id and catalog_type_id match an existing entry, the existing entry will be updated.",
        "operationId": "Catalog V2#CreateEntry",
        "parameters": [
          {
            "name": "CreateEntryRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateEntryRequestBody",
              "required": [
                "catalog_type_id",
                "name",
                "attribute_values"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateEntryResponseBody",
              "required": [
                "catalog_entry"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_entries/{id}": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ShowEntry Catalog V2",
        "description": "Show a single catalog entry.",
        "operationId": "Catalog V2#ShowEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog entry",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ShowEntryResponseBody",
              "required": [
                "catalog_type",
                "catalog_entry"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "UpdateEntry Catalog V2",
        "description": "Updates an existing catalog entry.",
        "operationId": "Catalog V2#UpdateEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog entry",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateEntryRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateEntryRequestBody",
              "required": [
                "name",
                "attribute_values"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateEntryResponseBody",
              "required": [
                "catalog_type",
                "catalog_entry"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "DestroyEntry Catalog V2",
        "description": "Archives a catalog entry.",
        "operationId": "Catalog V2#DestroyEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog entry",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_resources": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ListResources Catalog V2",
        "description": "List available engine resources for the catalog.\n\nA resource represents a type of data that can be held within the catalog, so this\nendpoint can be used to see what attribute types can be used when updating the\nschema of a catalog type.\n",
        "operationId": "Catalog V2#ListResources",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ListResourcesResponseBody",
              "required": [
                "resources"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_types": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ListTypes Catalog V2",
        "description": "List all catalog types for an organisation, including those synced from external resources.",
        "operationId": "Catalog V2#ListTypes",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ListTypesResponseBody",
              "required": [
                "catalog_types"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "CreateType Catalog V2",
        "description": "Create a catalog type. The schema must be updated using the UpdateTypeSchema endpoint.",
        "operationId": "Catalog V2#CreateType",
        "parameters": [
          {
            "name": "CreateTypeRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateTypeRequestBody",
              "required": [
                "name",
                "description"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateTypeResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_types/{id}": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ShowType Catalog V2",
        "description": "Show a single catalog type.",
        "operationId": "Catalog V2#ShowType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ShowTypeResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "UpdateType Catalog V2",
        "description": "Updates an existing catalog type. The schema must be updated using the UpdateTypeSchema endpoint.",
        "operationId": "Catalog V2#UpdateType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog type",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateTypeRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeRequestBody",
              "required": [
                "name",
                "description"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "DestroyType Catalog V2",
        "description": "Archives a catalog type and associated entries.",
        "operationId": "Catalog V2#DestroyType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_types/{id}/actions/update_schema": {
      "post": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "UpdateTypeSchema Catalog V2",
        "description": "Update an existing catalog types schema, adding or removing attributes.\n\nUpdating the schema is handled separately from creating and updating types, so that you don't\nhave to worry about dependencies between types. For example, if type A has an attribute that\nrelies on type B, you would have to create type B first.\n\nBy allowing the creation of types without a schema, they can be created in any order, but it\nmeans that you need to make a separate call to this endpoint to update the schema.",
        "operationId": "Catalog V2#UpdateTypeSchema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this catalog type",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateTypeSchemaRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeSchemaRequestBody",
              "required": [
                "attributes",
                "version",
                "name",
                "description",
                "type_name",
                "semantic_type",
                "ranked",
                "schema",
                "icon",
                "categories",
                "color",
                "is_editable",
                "annotations",
                "created_at",
                "updated_at",
                "engine_resource_type",
                "mode",
                "use_name_as_identifier"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeSchemaResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/custom_fields": {
      "get": {
        "tags": [
          "Custom Fields V2"
        ],
        "summary": "List Custom Fields V2",
        "description": "List all custom fields for an organisation.",
        "operationId": "Custom Fields V2#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV2ListResponseBody",
              "required": [
                "custom_fields"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Custom Fields V2"
        ],
        "summary": "Create Custom Fields V2",
        "description": "Create a new custom field",
        "operationId": "Custom Fields V2#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldsV2CreateRequestBody",
              "required": [
                "id",
                "name",
                "description",
                "field_type",
                "cannot_be_unset",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV2CreateResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/custom_fields/{id}": {
      "get": {
        "tags": [
          "Custom Fields V2"
        ],
        "summary": "Show Custom Fields V2",
        "description": "Get a single custom field.",
        "operationId": "Custom Fields V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV2ShowResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Custom Fields V2"
        ],
        "summary": "Update Custom Fields V2",
        "description": "Update the details of a custom field",
        "operationId": "Custom Fields V2#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldsV2UpdateRequestBody",
              "required": [
                "name",
                "description",
                "field_type",
                "cannot_be_unset",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV2UpdateResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Custom Fields V2"
        ],
        "summary": "Delete Custom Fields V2",
        "description": "Delete a custom field",
        "operationId": "Custom Fields V2#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/escalation_paths": {
      "post": {
        "tags": [
          "Escalations V2"
        ],
        "summary": "CreatePath Escalations V2",
        "description": "Create an escalation path.\n\nAn escalation path is a series of steps that describe how a page should be escalated,\nrepresented as graph, supporting conditional branches based on alert priority and working\nintervals.\n\nWe recommend you create escalation paths in the incident.io dashboard where our path\nbuilder makes it easy to use conditions and visualise the path.\n",
        "operationId": "Escalations V2#CreatePath",
        "parameters": [
          {
            "name": "CreatePathRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscalationsV2CreatePathRequestBody",
              "required": [
                "name",
                "path"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/EscalationsV2CreatePathResponseBody",
              "required": [
                "escalation_path"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/escalation_paths/{id}": {
      "get": {
        "tags": [
          "Escalations V2"
        ],
        "summary": "ShowPath Escalations V2",
        "description": "Show an escalation path.\n\nWe recommend you create escalation paths in the incident.io dashboard where our path\nbuilder makes it easy to use conditions and visualise the path.\n",
        "operationId": "Escalations V2#ShowPath",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this escalation path.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/EscalationsV2ShowPathResponseBody",
              "required": [
                "escalation_path"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Escalations V2"
        ],
        "summary": "UpdatePath Escalations V2",
        "description": "Updates an escalation path.\n\nWe recommend you create escalation paths in the incident.io dashboard where our path\nbuilder makes it easy to use conditions and visualise the path.\n",
        "operationId": "Escalations V2#UpdatePath",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this escalation path.",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdatePathRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EscalationsV2UpdatePathRequestBody",
              "required": [
                "name",
                "path"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/EscalationsV2UpdatePathResponseBody",
              "required": [
                "escalation_path"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Escalations V2"
        ],
        "summary": "DestroyPath Escalations V2",
        "description": "Archives an escalation path.\n\nWe recommend you create escalation paths in the incident.io dashboard where our path\nbuilder makes it easy to use conditions and visualise the path.\n",
        "operationId": "Escalations V2#DestroyPath",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this escalation path.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/follow_ups": {
      "get": {
        "tags": [
          "Follow-ups V2"
        ],
        "summary": "List Follow-ups V2",
        "description": "List all follow-ups for an organisation.",
        "operationId": "Follow-ups V2#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Find follow-ups related to this incident",
            "required": false,
            "type": "string"
          },
          {
            "name": "incident_mode",
            "in": "query",
            "description": "Filter to follow-ups from incidents of the given mode. If not set, only follow-ups from `standard` and `retrospective` incidents are returned",
            "required": false,
            "type": "string",
            "enum": [
              "standard",
              "retrospective",
              "test",
              "tutorial",
              "stream"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/FollowUpsV2ListResponseBody",
              "required": [
                "follow_ups"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/follow_ups/{id}": {
      "get": {
        "tags": [
          "Follow-ups V2"
        ],
        "summary": "Show Follow-ups V2",
        "description": "Get a single incident follow-up.",
        "operationId": "Follow-ups V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the follow-up",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/FollowUpsV2ShowResponseBody",
              "required": [
                "follow_up"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_roles": {
      "get": {
        "tags": [
          "Incident Roles V2"
        ],
        "summary": "List Incident Roles V2",
        "description": "List all incident roles for an organisation.",
        "operationId": "Incident Roles V2#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV2ListResponseBody",
              "required": [
                "incident_roles"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incident Roles V2"
        ],
        "summary": "Create Incident Roles V2",
        "description": "Create a new incident role",
        "operationId": "Incident Roles V2#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentRolesV2CreateRequestBody",
              "required": [
                "name",
                "shortform",
                "description",
                "instructions",
                "condition_groups",
                "id",
                "role_type",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV2CreateResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_roles/{id}": {
      "get": {
        "tags": [
          "Incident Roles V2"
        ],
        "summary": "Show Incident Roles V2",
        "description": "Get a single incident role.",
        "operationId": "Incident Roles V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV2ShowResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Incident Roles V2"
        ],
        "summary": "Update Incident Roles V2",
        "description": "Update an existing incident role",
        "operationId": "Incident Roles V2#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentRolesV2UpdateRequestBody",
              "required": [
                "name",
                "shortform",
                "description",
                "instructions",
                "condition_groups",
                "role_type",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV2UpdateResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Incident Roles V2"
        ],
        "summary": "Delete Incident Roles V2",
        "description": "Removes an existing role",
        "operationId": "Incident Roles V2#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_timestamps": {
      "get": {
        "tags": [
          "Incident Timestamps V2"
        ],
        "summary": "List Incident Timestamps V2",
        "description": "List all incident timestamps for an organisation.",
        "operationId": "Incident Timestamps V2#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTimestampsV2ListResponseBody",
              "required": [
                "incident_timestamps"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_timestamps/{id}": {
      "get": {
        "tags": [
          "Incident Timestamps V2"
        ],
        "summary": "Show Incident Timestamps V2",
        "description": "Get a single incident timestamp.",
        "operationId": "Incident Timestamps V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident timestamp",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTimestampsV2ShowResponseBody",
              "required": [
                "incident_timestamp"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_updates": {
      "get": {
        "tags": [
          "Incident Updates V2"
        ],
        "summary": "List Incident Updates V2",
        "description": "List all incident updates for an organisation, or for a specific incident.",
        "operationId": "Incident Updates V2#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Incident whose updates you want to list",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Integer number of records to return",
            "required": false,
            "type": "integer",
            "default": 25,
            "maximum": 500
          },
          {
            "name": "after",
            "in": "query",
            "description": "An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentUpdatesV2ListResponseBody",
              "required": [
                "incident_updates"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incidents": {
      "get": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "List Incidents V2",
        "description": "List all incidents for an organisation.\n\nThis endpoint supports a number of filters, which can help find incidents matching certain\ncriteria.\n\nFilters are provided as query parameters, but due to the dynamic nature of what you can\nquery by (different accounts have different custom fields, statuses, etc) they are more\ncomplex than most.\n\nTo help, here are some exemplar curl requests with a human description of what they search\nfor.\n\nNote that:\n- Filters may be used together, and the result will be incidents that match all filters.\n- IDs are normally in UUID format, but have been replaced with shorter strings to improve\nreadability.\n- All query parameters must be URI encoded.\n\n### By status\n\nWith status of id=ABC, find all incidents that are set to that status:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'status[one_of]=ABC'\n\nOr all incidents that are not set to status with id=ABC:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'status[not_in]=ABC'\n\n### By created_at or updated_at\n\nFind all incidents that follow specified date parameters for created_at and updated_at fields.\nPossible values are \"gte\" (greater than or equal to) and \"lte\" (less than or equal to). The\nfollowing example finds all incidents created before or on 2021-01-02T00:00:00Z:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'created_at[lte]=2021-01-02'\n\n### By status category\n\nFind all incidents that are in a status category. Possible values are \"triage\",\n\"declined\", \"merged\", \"canceled\", \"live\", \"learning\" and \"closed\":\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'status_category[one_of]=live'\n\nOr all incidents that are not in a status category:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'status_category[not_in]=live'\n\n\n### By severity\n\nWith severity of id=ABC, find all incidents that are set to that severity:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'severity[one_of]=ABC'\n\nOr all incidents where severity rank is greater-than-or-equal-to the rank of severity\nid=ABC:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'severity[gte]=ABC'\n\nOr all incidents where severity rank is less-than-or-equal-to the rank of severity id=ABC:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'severity[lte]=ABC'\n\n### By incident type\n\nWith incident type of id=ABC, find all incidents that are of that type:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_type[one_of]=ABC'\n\nOr all incidents not of that type:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_type[not_in]=ABC'\n\n### By incident mode\n\nBy default, we return standard and retrospective incidents. This means that test and\ntutorial incidents are filtered out. To override this behaviour, you can use the\nmode filter to specify which modes you want to get.\n\nTo find incidents of all modes:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'mode[one_of]=standard&mode[one_of]=retrospective&mode[one_of]=test&mode[one_of]=tutorial'\n\nTo find just test incidents:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'mode[one_of]=test'\n\n\n### By incident role\n\nRoles and custom fields have another nested layer in the query parameter, to account for\noperations against any of the roles or custom fields created in the account.\n\nWith incident role id=ABC, find all incidents where that role is unset:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_role[ABC][is_blank]=true'\n\nOr where the role has been set:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_role[ABC][is_blank]=false'\n\n### By option custom fields\n\nWith an option custom field id=ABC, all incidents that have field ABC set to the custom\nfield option of id=XYZ:\n\n\t\tcurl \\\n\t\t\t--get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'custom_field[ABC][one_of]=XYZ'\n\nOr all incidents that do not have custom field id=ABC set to option id=XYZ:\n\n\t\tcurl \\\n\t\t\t--get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'custom_field[ABC][not_in]=XYZ'\n",
        "operationId": "Incidents V2#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "An incident's ID. This endpoint will return a list of incidents after this ID in relation to the API response order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter on incident status. The accepted operators are 'one_of', or 'not_in'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "status_category",
            "in": "query",
            "description": "Filter on the category of the incidents status. The accepted operators are 'one_of', or 'not_in'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "created_at",
            "in": "query",
            "description": "Filter on incident created at timestamp. The accepted operators are 'gte', 'lte' and 'date_range'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "updated_at",
            "in": "query",
            "description": "Filter on incident updated at timestamp. The accepted operators are 'gte', 'lte' and 'date_range'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter on incident severity. The accepted operators are 'one_of', 'not_in', 'gte', 'lte'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "incident_type",
            "in": "query",
            "description": "Filter on incident type. The accepted operators are 'one_of, or 'not_in'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "incident_role",
            "in": "query",
            "description": "Filter on an incident role. Role ID should be sent, followed by the operator and values. The accepted operators are 'one_of', 'is_blank'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "custom_field",
            "in": "query",
            "description": "Filter on an incident custom field. Custom field ID should be sent, followed by the operator and values. Accepted operator will depend on the custom field type.",
            "required": false,
            "type": "map"
          },
          {
            "name": "mode",
            "in": "query",
            "description": "Filter on incident mode. The accepted operator is 'one_of'.  If this is not provided, this value defaults to `{\"one_of\": [\"standard\", \"retrospective\"] }`, meaning that test and tutorial incidents are not included.",
            "required": false,
            "type": "map"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2ListResponseBody",
              "required": [
                "incidents"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "Create Incidents V2",
        "description": "Create a new incident.\n\nNote that if the incident mode is set to \"retrospective\" then the new incident\nwill not be announced in Slack.\n",
        "operationId": "Incidents V2#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentCreatePayloadV2",
              "required": [
                "idempotency_key",
                "visibility"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2CreateResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incidents/{id}": {
      "get": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "Show Incidents V2",
        "description": "Get a single incident.\n\nThe ID supplied can be either the incident's full ID, or the numeric part of its\nreference. For example, to get INC-123, you could use either its full ID or:\n\n\t\tcurl \\\n\t\t\t--get 'https://api.incident.io/v2/incidents/123\n",
        "operationId": "Incidents V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the incident",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2ShowResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incidents/{id}/actions/edit": {
      "post": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "Edit Incidents V2",
        "description": "Edit an existing incident.\n\nThis endpoint allows you to edit the properties of an existing incident: e.g. set the severity or update custom fields.\n\nWhen using this endpoint, only fields that are provided will be edited (omitted fields\nwill be ignored).\n",
        "operationId": "Incidents V2#Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique identifier of the incident that you want to edit",
            "required": true,
            "type": "string"
          },
          {
            "name": "EditRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentsV2EditRequestBody",
              "required": [
                "incident",
                "notify_incident_channel"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2EditResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/managed_resources": {
      "post": {
        "tags": [
          "Managed Resources V2"
        ],
        "summary": "CreateManagedResource Managed Resources V2",
        "description": "Called by external providers such as Terraform, this can 'claim' an incident.io resource as being managed externally.",
        "operationId": "Managed Resources V2#CreateManagedResource",
        "parameters": [
          {
            "name": "CreateManagedResourceRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedResourcesV2CreateManagedResourceRequestBody",
              "required": [
                "annotations",
                "resource_type",
                "resource_id",
                "managed_by"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ManagedResourcesV2CreateManagedResourceResponseBody",
              "required": [
                "managed_resource"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/schedule_entries": {
      "get": {
        "tags": [
          "Schedules V2"
        ],
        "summary": "ListScheduleEntries Schedules V2",
        "description": "Get a list of schedule entries. The endpoint will return all entries that overlap with the given window, if one is provided.",
        "operationId": "Schedules V2#ListScheduleEntries",
        "parameters": [
          {
            "name": "schedule_id",
            "in": "query",
            "description": "The ID of the schedule to get entries for.",
            "required": true,
            "type": "string"
          },
          {
            "name": "entry_window_start",
            "in": "query",
            "description": "The start of the window to get entries for.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "entry_window_end",
            "in": "query",
            "description": "The end of the window to get entries for.",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SchedulesV2ListScheduleEntriesResponseBody",
              "required": [
                "schedule_entries"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/schedule_overrides": {
      "post": {
        "tags": [
          "Schedules V2"
        ],
        "summary": "CreateOverride Schedules V2",
        "description": "Create a new schedule override.",
        "operationId": "Schedules V2#CreateOverride",
        "parameters": [
          {
            "name": "CreateOverrideRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SchedulesV2CreateOverrideRequestBody",
              "required": [
                "start_at",
                "end_at",
                "schedule_id",
                "rotation_id",
                "layer_id",
                "user"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/SchedulesV2CreateOverrideResponseBody",
              "required": [
                "override"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/schedules": {
      "get": {
        "tags": [
          "Schedules V2"
        ],
        "summary": "List Schedules V2",
        "description": "List configured schedules.",
        "operationId": "Schedules V2#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "A schedule's ID. This endpoint will return a list of schedules after this ID in relation to the API response order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SchedulesV2ListResponseBody",
              "required": [
                "schedules"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Schedules V2"
        ],
        "summary": "Create Schedules V2",
        "description": "Create a new schedule.",
        "operationId": "Schedules V2#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SchedulesV2CreateRequestBody",
              "required": [
                "schedule"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/SchedulesV2CreateResponseBody",
              "required": [
                "schedule"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/schedules/{id}": {
      "get": {
        "tags": [
          "Schedules V2"
        ],
        "summary": "Show Schedules V2",
        "description": "Get a single schedule.",
        "operationId": "Schedules V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique internal ID of the schedule",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SchedulesV2ShowResponseBody",
              "required": [
                "schedule"
[...]
