{
  "swagger": "2.0",
  "info": {
    "title": "incident.io",
    "description": "This is the API reference for incident.io.\n\nIt documents available API endpoints, provides examples of how to use it, and\ninstructions around things like authentication and error handling.\n\nThe API is hosted at:\n\n- https://api.incident.io/\n\nAnd you will need to create an API key via your [incident.io\ndashboard](https://app.incident.io/settings/api-keys) to make requests.\n\n# Making requests\n\nHere are the key concepts required to make requests to the incident.io API.\n\n## Authentication\n\nFor all requests made to the incident.io API, you'll need an API key.\n\nTo create an API key, head to the incident dashboard and visit [API\nkeys](https://app.incident.io/settings/api-keys). When you create the key,\nyou'll be able to choose what actions it can take for your account: choose\ncarefully, as those roles can only be set when you first create the key. We'll\nonly show you the token once, so make sure you store it somewhere safe.\n\nOnce you have the key, you should make requests to the API that set the\n`Authorization` request header using a \"Bearer\" authentication scheme:\n\n```\nAuthorization: Bearer <YOUR_API_KEY>\n```\n\n## Errors\n\nWe use standard HTTP response codes to indicate the status or failure of API\nrequests.\n\nThe API response body will be JSON, and contain more detailed information on the\nnature of the error.\n\nAn example error when a request is made without an API key:\n\n```json\n{\n  \"type\": \"authentication_error\",\n  \"status\": 401,\n  \"request_id\": \"8e3cc412-b49d-4957-9073-2c19d2c61804\",\n  \"errors\": [\n    {\n      \"code\": \"missing_authorization_material\",\n      \"message\": \"No authorization material provided in request\"\n    }\n  ]\n}\n```\n\nNote that the error:\n\n- Contains the HTTP status (`401`)\n- References the type of error (`authentication_error`)\n- Includes a `request_id` that can be provided to incident.io support to help\n\tdebug questions with your API request\n- Provides a list of individual errors, which go into detail about why the error\n\toccurred\n\nThe most common error will be a 422 Validation Error, which is returned when the\nrequest was rejected due to failing validations.\n\nThese errors look like this:\n\n```json\n{\n  \"type\": \"validation_error\",\n  \"status\": 422,\n  \"request_id\": \"631766c4-4afd-4803-997c-cd700928fa4b\",\n  \"errors\": [\n    {\n      \"code\": \"is_required\",\n      \"message\": \"A severity is required to open an incident\",\n      \"source\": {\n        \"field\": \"severity_id\"\n      }\n    }\n  ]\n}\n```\n\nThis error is caused by not providing a severity identifier, which should be at\nthe `severity_id` field of the request payload. Errors like these can be mapped to\nforms, should you be integrating with the API from a user-interface.\n\n## Compatibility\n\nWe won't make breaking changes to existing API services or endpoints, but will\nexpect integrators to upgrade themselves to the latest API endpoints within 3\nmonths of us deprecating the old service.\n\nWe will make changes that are considered backwards compatible, which include:\n\n- Adding new API endpoints and services\n- Adding new properties to responses from existing API endpoints\n- Reordering properties returned from existing API endpoints\n- Adding optional request parameters to existing API endpoints\n- Altering the format or length of IDs\n- Adding new values to enums\n\nIt is important that clients are robust to these changes, to ensure reliable\nintegrations.\n\nAs an example, if you are generating a client using an openapi-generator, ensure\nthe generated client is configured to support unknown enum values, often\nconfigured via the `enumUnknownDefaultCase` parameter.\n\nWhen breaking changes are unavoidable, we'll create a new service version on a\nseparate path, and run them in parallel.\n\nFor example:\n\n- https://api.incident.io/v1/incidents\n- https://api.incident.io/v2/incidents\n\nFor any questions, email support@incident.io.\n",
    "version": "1.0.0"
  },
  "host": "api.incident.io",
  "consumes": [
    "application/json",
    "application/xml",
    "application/gob"
  ],
  "produces": [
    "application/json",
    "application/xml",
    "application/gob"
  ],
  "paths": {
    "/v1/actions": {
      "get": {
        "tags": [
          "Actions V1"
        ],
        "summary": "List Actions V1",
        "description": "List all actions for an organisation.",
        "operationId": "Actions V1#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Find actions related to this incident",
            "required": false,
            "type": "string"
          },
          {
            "name": "is_follow_up",
            "in": "query",
            "description": "Filter to actions marked as being follow up actions",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "incident_mode",
            "in": "query",
            "description": "Filter to actions from incidents of the given mode. If not set, only actions from `real` incidents are returned",
            "required": false,
            "type": "string",
            "enum": [
              "real",
              "test",
              "tutorial"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ActionsV1ListResponseBody",
              "required": [
                "actions"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/actions/{id}": {
      "get": {
        "tags": [
          "Actions V1"
        ],
        "summary": "Show Actions V1",
        "description": "Get a single incident action.",
        "operationId": "Actions V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the action",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/ActionsV1ShowResponseBody",
              "required": [
                "action"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/custom_field_options": {
      "get": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "List Custom Field Options V1",
        "description": "Show custom field options for a custom field",
        "operationId": "Custom Field Options V1#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "A custom field option's ID. This endpoint will return a list of custom field options created after this option.",
            "required": false,
            "type": "string"
          },
          {
            "name": "custom_field_id",
            "in": "query",
            "description": "The custom field to list options for.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1ListResponseBody",
              "required": [
                "custom_field_options"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Create Custom Field Options V1",
        "description": "Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.",
        "operationId": "Custom Field Options V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1CreateRequestBody",
              "required": [
                "custom_field_id",
                "value"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1CreateResponseBody",
              "required": [
                "custom_field_option"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/custom_field_options/{id}": {
      "get": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Show Custom Field Options V1",
        "description": "Get a single custom field option",
        "operationId": "Custom Field Options V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1ShowResponseBody",
              "required": [
                "custom_field_option"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Update Custom Field Options V1",
        "description": "Update a custom field option",
        "operationId": "Custom Field Options V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1UpdateRequestBody",
              "required": [
                "value",
                "custom_field_id",
                "sort_key"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldOptionsV1UpdateResponseBody",
              "required": [
                "custom_field_option"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Custom Field Options V1"
        ],
        "summary": "Delete Custom Field Options V1",
        "description": "Delete a custom field option",
        "operationId": "Custom Field Options V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field option",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/custom_fields": {
      "get": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "List Custom Fields V1",
        "description": "List all custom fields for an organisation.",
        "operationId": "Custom Fields V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1ListResponseBody",
              "required": [
                "custom_fields"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Create Custom Fields V1",
        "description": "Create a new custom field",
        "operationId": "Custom Fields V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1CreateRequestBody",
              "required": [
                "id",
                "name",
                "description",
                "field_type",
                "required",
                "show_before_creation",
                "show_before_closure",
                "show_before_update",
                "options",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1CreateResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/custom_fields/{id}": {
      "get": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Show Custom Fields V1",
        "description": "Get a single custom field.",
        "operationId": "Custom Fields V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1ShowResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Update Custom Fields V1",
        "description": "Update the details of a custom field",
        "operationId": "Custom Fields V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1UpdateRequestBody",
              "required": [
                "name",
                "description",
                "field_type",
                "required",
                "show_before_creation",
                "show_before_closure",
                "show_before_update",
                "options",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CustomFieldsV1UpdateResponseBody",
              "required": [
                "custom_field"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Custom Fields V1"
        ],
        "summary": "Delete Custom Fields V1",
        "description": "Delete a custom field",
        "operationId": "Custom Fields V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the custom field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/identity": {
      "get": {
        "tags": [
          "Utilities V1"
        ],
        "summary": "Identity Utilities V1",
        "description": "Test if your API key is valid, and which roles it has.",
        "operationId": "Utilities V1#Identity",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/UtilitiesV1IdentityResponseBody",
              "required": [
                "identity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_attachments": {
      "get": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "List Incident Attachments V1",
        "description": "List all incident attachements for an external resouce",
        "operationId": "Incident Attachments V1#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Incident that this attachment is against",
            "required": false,
            "type": "string"
          },
          {
            "name": "external_id",
            "in": "query",
            "description": "ID of the resource in the external system",
            "required": false,
            "type": "string"
          },
          {
            "name": "resource_type",
            "in": "query",
            "description": "E.g. PagerDuty: the external system that holds the resource",
            "required": false,
            "type": "string",
            "enum": [
              "pager_duty_incident",
              "opsgenie_alert",
              "datadog_monitor_alert",
              "github_pull_request",
              "sentry_issue",
              "atlassian_statuspage_incident",
              "zendesk_ticket",
              "statuspage_incident"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentAttachmentsV1ListResponseBody",
              "required": [
                "incident_attachments"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "Create Incident Attachments V1",
        "description": "Attaches an external resource to an incident",
        "operationId": "Incident Attachments V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentAttachmentsV1CreateRequestBody",
              "required": [
                "incident_id",
                "resource"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentAttachmentsV1CreateResponseBody",
              "required": [
                "incident_attachment"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_attachments/{id}": {
      "delete": {
        "tags": [
          "Incident Attachments V1"
        ],
        "summary": "Delete Incident Attachments V1",
        "description": "Unattaches an external resouce from an incident",
        "operationId": "Incident Attachments V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of this incident membership",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_roles": {
      "get": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "List Incident Roles V1",
        "description": "List all incident roles for an organisation.",
        "operationId": "Incident Roles V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1ListResponseBody",
              "required": [
                "incident_roles"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Create Incident Roles V1",
        "description": "Create a new incident role",
        "operationId": "Incident Roles V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1CreateRequestBody",
              "required": [
                "name",
                "shortform",
                "description",
                "instructions",
                "required",
                "conditions",
                "id",
                "role_type",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1CreateResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_roles/{id}": {
      "get": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Show Incident Roles V1",
        "description": "Get a single incident role.",
        "operationId": "Incident Roles V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1ShowResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Update Incident Roles V1",
        "description": "Update an existing incident role",
        "operationId": "Incident Roles V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1UpdateRequestBody",
              "required": [
                "conditions",
                "name",
                "description",
                "instructions",
                "shortform",
                "role_type",
                "required",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentRolesV1UpdateResponseBody",
              "required": [
                "incident_role"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Incident Roles V1"
        ],
        "summary": "Delete Incident Roles V1",
        "description": "Removes an existing role",
        "operationId": "Incident Roles V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the role",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_statuses": {
      "get": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "List IncidentStatuses V1",
        "description": "List all incident statuses for an organisation.",
        "operationId": "IncidentStatuses V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1ListResponseBody",
              "required": [
                "incident_statuses"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Create IncidentStatuses V1",
        "description": "Create a new incident status",
        "operationId": "IncidentStatuses V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1CreateRequestBody",
              "required": [
                "name",
                "description",
                "category",
                "id",
                "rank",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1CreateResponseBody",
              "required": [
                "incident_status"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_statuses/{id}": {
      "get": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Show IncidentStatuses V1",
        "description": "Get a single incident status.",
        "operationId": "IncidentStatuses V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1ShowResponseBody",
              "required": [
                "incident_status"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Update IncidentStatuses V1",
        "description": "Update an existing incident status",
        "operationId": "IncidentStatuses V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1UpdateRequestBody",
              "required": [
                "name",
                "description",
                "rank",
                "category",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentStatusesV1UpdateResponseBody",
              "required": [
                "incident_status"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "IncidentStatuses V1"
        ],
        "summary": "Delete IncidentStatuses V1",
        "description": "Delete an incident status",
        "operationId": "IncidentStatuses V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_types": {
      "get": {
        "tags": [
          "Incident Types V1"
        ],
        "summary": "List Incident Types V1",
        "description": "List all incident types for an organisation.",
        "operationId": "Incident Types V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTypesV1ListResponseBody",
              "required": [
                "incident_types"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incident_types/{id}": {
      "get": {
        "tags": [
          "Incident Types V1"
        ],
        "summary": "Show Incident Types V1",
        "description": "Get a single incident type.",
        "operationId": "Incident Types V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for this Incident Type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTypesV1ShowResponseBody",
              "required": [
                "incident_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/incidents": {
      "get": {
        "description": "List all incidents for an organisation.",
        "operationId": "Incidents V1#List",
        "parameters": [
          {
            "default": 25,
            "description": "Integer number of records to return",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.",
            "in": "query",
            "name": "after",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Filter for incidents in these statuses",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "status",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV1ListResponseBody",
              "required": [
                "incidents"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "List Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      },
      "post": {
        "description": "Create a new incident.",
        "operationId": "Incidents V1#Create",
        "parameters": [
          {
            "in": "body",
            "name": "CreateRequestBody",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentsV1CreateRequestBody",
              "required": [
                "idempotency_key",
                "visibility"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV1CreateResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Create Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      }
    },
    "/v1/incidents/{id}": {
      "get": {
        "description": "Get a single incident.",
        "operationId": "Incidents V1#Show",
        "parameters": [
          {
            "description": "Unique identifier for the incident",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV1ShowResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ],
        "summary": "Show Incidents V1",
        "tags": [
          "Incidents V1"
        ],
        "deprecated": true
      }
    },
    "/v1/openapi.json": {
      "get": {
        "tags": [
          "Utilities V1"
        ],
        "summary": "OpenAPI Utilities V1",
        "description": "Get the OpenAPI (v2) definition.",
        "operationId": "Utilities V1#OpenAPI",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "type": "string",
              "format": "binary"
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/severities": {
      "get": {
        "tags": [
          "Severities V1"
        ],
        "summary": "List Severities V1",
        "description": "List all incident severities for an organisation.",
        "operationId": "Severities V1#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1ListResponseBody",
              "required": [
                "severities"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Create Severities V1",
        "description": "Create a new severity",
        "operationId": "Severities V1#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SeveritiesV1CreateRequestBody",
              "required": [
                "name",
                "description"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1CreateResponseBody",
              "required": [
                "severity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v1/severities/{id}": {
      "get": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Show Severities V1",
        "description": "Get a single incident severity.",
        "operationId": "Severities V1#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1ShowResponseBody",
              "required": [
                "severity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Update Severities V1",
        "description": "Update an existing severity",
        "operationId": "Severities V1#Update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SeveritiesV1UpdateRequestBody",
              "required": [
                "name",
                "description"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/SeveritiesV1UpdateResponseBody",
              "required": [
                "severity"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Severities V1"
        ],
        "summary": "Delete Severities V1",
        "description": "Delete a severity",
        "operationId": "Severities V1#Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the severity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_entries": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ListEntries Catalog V2",
        "description": "List entries for a catalog type.",
        "operationId": "Catalog V2#ListEntries",
        "parameters": [
          {
            "name": "catalog_type_id",
            "in": "query",
            "description": "ID of this catalog type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ListEntriesResponseBody",
              "required": [
                "catalog_type",
                "catalog_entries"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "CreateEntry Catalog V2",
        "description": "Create an entry for a type in the catalog.",
        "operationId": "Catalog V2#CreateEntry",
        "parameters": [
          {
            "name": "CreateEntryRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateEntryRequestBody",
              "required": [
                "catalog_type_id",
                "name",
                "attribute_values",
                "id",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateEntryResponseBody",
              "required": [
                "catalog_entry"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_entries/{id}": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ShowEntry Catalog V2",
        "description": "Show a single catalog entry.",
        "operationId": "Catalog V2#ShowEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ShowEntryResponseBody",
              "required": [
                "catalog_type",
                "catalog_entry"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "UpdateEntry Catalog V2",
        "description": "Updates an existing catalog entry.",
        "operationId": "Catalog V2#UpdateEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateEntryRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateEntryRequestBody",
              "required": [
                "name",
                "attribute_values",
                "catalog_type_id",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateEntryResponseBody",
              "required": [
                "catalog_type",
                "catalog_entry"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "DestroyEntry Catalog V2",
        "description": "Archives a catalog entry.",
        "operationId": "Catalog V2#DestroyEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_types": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ListTypes Catalog V2",
        "description": "List all catalog types for an organisation, including those synced from external resources.",
        "operationId": "Catalog V2#ListTypes",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ListTypesResponseBody",
              "required": [
                "catalog_types"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "CreateType Catalog V2",
        "description": "Create a catalog type.",
        "operationId": "Catalog V2#CreateType",
        "parameters": [
          {
            "name": "CreateTypeRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateTypeRequestBody",
              "required": [
                "id",
                "name",
                "description",
                "semantic_type",
                "schema",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2CreateTypeResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_types/{id}": {
      "get": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "ShowType Catalog V2",
        "description": "Show a single catalog type.",
        "operationId": "Catalog V2#ShowType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2ShowTypeResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "put": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "UpdateType Catalog V2",
        "description": "Updates an existing catalog type.",
        "operationId": "Catalog V2#UpdateType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateTypeRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeRequestBody",
              "required": [
                "name",
                "description",
                "semantic_type",
                "schema",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "delete": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "DestroyType Catalog V2",
        "description": "Archives a catalog type and associated entries.",
        "operationId": "Catalog V2#DestroyType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content response."
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/catalog_types/{id}/actions/update_schema": {
      "post": {
        "tags": [
          "Catalog V2"
        ],
        "summary": "UpdateTypeSchema Catalog V2",
        "description": "Update an existing catalog types schema, adding or removing attributes.",
        "operationId": "Catalog V2#UpdateTypeSchema",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of this resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "UpdateTypeSchemaRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeSchemaRequestBody",
              "required": [
                "attributes",
                "name",
                "description",
                "semantic_type",
                "schema",
                "created_at",
                "updated_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/CatalogV2UpdateTypeSchemaResponseBody",
              "required": [
                "catalog_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_timestamps": {
      "get": {
        "tags": [
          "Incident Timestamps V2"
        ],
        "summary": "List Incident Timestamps V2",
        "description": "List all incident timestamps for an organisation.",
        "operationId": "Incident Timestamps V2#List",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTimestampsV2ListResponseBody",
              "required": [
                "incident_timestamps"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_timestamps/{id}": {
      "get": {
        "tags": [
          "Incident Timestamps V2"
        ],
        "summary": "Show Incident Timestamps V2",
        "description": "Get a single incident timestamp.",
        "operationId": "Incident Timestamps V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique ID of this incident timestamp",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentTimestampsV2ShowResponseBody",
              "required": [
                "incident_timestamp"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incident_updates": {
      "get": {
        "tags": [
          "Incident Updates V2"
        ],
        "summary": "List Incident Updates V2",
        "description": "List all incident updates for an organisation, or for a specific incident.",
        "operationId": "Incident Updates V2#List",
        "parameters": [
          {
            "name": "incident_id",
            "in": "query",
            "description": "Incident whose updates you want to list",
            "required": false,
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Integer number of records to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentUpdatesV2ListResponseBody",
              "required": [
                "incident_updates"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incidents": {
      "get": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "List Incidents V2",
        "description": "List all incidents for an organisation.\n\nThis endpoint supports a number of filters, which can help find incidents matching certain\ncriteria.\n\nFilters are provided as query parameters, but due to the dynamic nature of what you can\nquery by (different accounts have different custom fields, statuses, etc) they are more\ncomplex than most.\n\nTo help, here are some exemplar curl requests with a human description of what they search\nfor.\n\nNote that:\n- Filters may be used together, and the result will be incidents that match all filters.\n- IDs are normally in UUID format, but have been replaced with shorter strings to improve\nreadability.\n- All query parameters must be URI encoded.\n\n### By status\n\nWith status of id=ABC, find all incidents that are set to that status:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'status[one_of]=ABC'\n\nOr all incidents that are not set to status with id=ABC:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'status[not_in]=ABC'\n\n### By severity\n\nWith severity of id=ABC, find all incidents that are set to that severity:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'severity[one_of]=ABC'\n\nOr all incidents where severity rank is greater-than-or-equal-to the rank of severity\nid=ABC:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'severity[gte]=ABC'\n\nOr all incidents where severity rank is less-than-or-equal-to the rank of severity id=ABC:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'severity[lte]=ABC'\n\n### By incident type\n\nWith incident type of id=ABC, find all incidents that are of that type:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_type[one_of]=ABC'\n\nOr all incidents not of that type:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_type[not_in]=ABC'\n\n### By incident role\n\nRoles and custom fields have another nested layer in the query parameter, to account for\noperations against any of the roles or custom fields created in the account.\n\nWith incident role id=ABC, find all incidents where that role is unset:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_role[ABC][is_blank]=true'\n\nOr where the role has been set:\n\n\t\tcurl --get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'incident_role[ABC][is_blank]=false'\n\n### By option custom fields\n\nWith an option custom field id=ABC, all incidents that have field ABC set to the custom\nfield option of id=XYZ:\n\n\t\tcurl \\\n\t\t\t--get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'custom_field[ABC][one_of]=XYZ'\n\nOr all incidents that do not have custom field id=ABC set to option id=XYZ:\n\n\t\tcurl \\\n\t\t\t--get 'https://api.incident.io/v2/incidents' \\\n\t\t\t--data 'custom_field[ABC][not_in]=XYZ'\n",
        "operationId": "Incidents V2#List",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "description": "number of records to return",
            "required": false,
            "type": "integer",
            "default": 25
          },
          {
            "name": "after",
            "in": "query",
            "description": "An incident's ID. This endpoint will return a list of incidents after this ID in relation to the API response order.",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter on incident status. The accepted operators are 'one_of', or 'not_in'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter on incident severity. The accepted operators are 'one_of', 'not_in', 'gte', 'lte'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "incident_type",
            "in": "query",
            "description": "Filter on incident type. The accepted operator is 'one_of'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "incident_role",
            "in": "query",
            "description": "Filter on an incident role. Role ID should be sent, followed by the operator and values. The accepted operators are 'one_of', 'is_blank'.",
            "required": false,
            "type": "map"
          },
          {
            "name": "custom_field",
            "in": "query",
            "description": "Filter on an incident custom field. Custom field ID should be sent, followed by the operator and values. Accepted operator will depend on the custom field type.",
            "required": false,
            "type": "map"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2ListResponseBody",
              "required": [
                "incidents"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      },
      "post": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "Create Incidents V2",
        "description": "Create a new incident.\n\nNote that if the incident mode is set to \"retrospective\" then the new incident\nwill not be announced in Slack.\n",
        "operationId": "Incidents V2#Create",
        "parameters": [
          {
            "name": "CreateRequestBody",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncidentsV2CreateRequestBody",
              "required": [
                "idempotency_key",
                "visibility"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2CreateResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/v2/incidents/{id}": {
      "get": {
        "tags": [
          "Incidents V2"
        ],
        "summary": "Show Incidents V2",
        "description": "Get a single incident.",
        "operationId": "Incidents V2#Show",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier for the incident",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/IncidentsV2ShowResponseBody",
              "required": [
                "incident"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/__all__": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "All Webhooks",
        "description": "Enables us to generate a type for all webhook types, so we can use a single serializer.",
        "operationId": "Webhooks#All",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksAllResponseBody",
              "required": [
                "event_type"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/private_incident.follow_up_created_v1": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PrivateIncidentFollowUpCreatedV1 Webhooks",
        "description": "This webhook is emitted whenever a follow-up for a private incident is created.",
        "operationId": "Webhooks#PrivateIncidentFollowUpCreatedV1",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPrivateIncidentFollowUpCreatedV1ResponseBody",
              "required": [
                "event_type",
                "private_incident.follow_up_created_v1"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/private_incident.follow_up_updated_v1": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PrivateIncidentFollowUpUpdatedV1 Webhooks",
        "description": "This webhook is emitted whenever a follow-up for a private incident is updated.",
        "operationId": "Webhooks#PrivateIncidentFollowUpUpdatedV1",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPrivateIncidentFollowUpUpdatedV1ResponseBody",
              "required": [
                "event_type",
                "private_incident.follow_up_updated_v1"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/private_incident.incident_created_v2": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PrivateIncidentIncidentCreatedV2 Webhooks",
        "description": "This webhook is emitted whenever a new private incident is created.",
        "operationId": "Webhooks#PrivateIncidentIncidentCreatedV2",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPrivateIncidentIncidentCreatedV2ResponseBody",
              "required": [
                "event_type",
                "private_incident.incident_created_v2"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/private_incident.incident_updated_v2": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PrivateIncidentIncidentUpdatedV2 Webhooks",
        "description": "This webhook is emitted whenever a private incident is updated.",
        "operationId": "Webhooks#PrivateIncidentIncidentUpdatedV2",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPrivateIncidentIncidentUpdatedV2ResponseBody",
              "required": [
                "event_type",
                "private_incident.incident_updated_v2"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/public_incident.follow_up_created_v1": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PublicIncidentFollowUpCreatedV1 Webhooks",
        "description": "This webhook is emitted whenever a follow-up is created.",
        "operationId": "Webhooks#PublicIncidentFollowUpCreatedV1",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPublicIncidentFollowUpCreatedV1ResponseBody",
              "required": [
                "event_type",
                "public_incident.follow_up_created_v1"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/public_incident.follow_up_updated_v1": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PublicIncidentFollowUpUpdatedV1 Webhooks",
        "description": "This webhook is emitted whenever a follow-up is updated.",
        "operationId": "Webhooks#PublicIncidentFollowUpUpdatedV1",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPublicIncidentFollowUpUpdatedV1ResponseBody",
              "required": [
                "event_type",
                "public_incident.follow_up_updated_v1"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/public_incident.incident_created_v2": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PublicIncidentIncidentCreatedV2 Webhooks",
        "description": "This webhook is emitted whenever a new incident is created.",
        "operationId": "Webhooks#PublicIncidentIncidentCreatedV2",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPublicIncidentIncidentCreatedV2ResponseBody",
              "required": [
                "event_type",
                "public_incident.incident_created_v2"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    },
    "/x-webhooks/public_incident.incident_updated_v2": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "PublicIncidentIncidentUpdatedV2 Webhooks",
        "description": "This webhook is emitted whenever an incident is updated.",
        "operationId": "Webhooks#PublicIncidentIncidentUpdatedV2",
        "responses": {
          "200": {
            "description": "OK response.",
            "schema": {
              "$ref": "#/definitions/WebhooksPublicIncidentIncidentUpdatedV2ResponseBody",
              "required": [
                "event_type",
                "public_incident.incident_updated_v2"
              ]
            }
          }
        },
        "schemes": [
          "https"
        ]
      }
    }
  },
  "definitions": {
    "APIKeyV1ResponseBody": {
      "title": "APIKeyV1ResponseBody",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for this API key",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "name": {
          "type": "string",
          "description": "The name of the API key, for the user's reference",
          "example": "My test API key"
        }
      },
      "example": {
        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "name": "My test API key"
      },
      "required": [
        "id",
        "name",
        "roles",
        "created_by"
      ]
    },
    "APIKeyV2ResponseBody": {
      "title": "APIKeyV2ResponseBody",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique identifier for this API key",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "name": {
          "type": "string",
          "description": "The name of the API key, for the user's reference",
          "example": "My test API key"
        }
      },
      "example": {
        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "name": "My test API key"
      },
      "required": [
        "id",
        "name",
        "roles",
        "created_by"
      ]
    },
    "ActionV1ResponseBody": {
      "title": "ActionV1ResponseBody",
      "type": "object",
      "properties": {
        "assignee": {
          "$ref": "#/definitions/UserV1ResponseBody"
        },
        "completed_at": {
          "type": "string",
          "description": "When the action was completed",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        },
        "created_at": {
          "type": "string",
          "description": "When the action was created",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "Description of the action",
          "example": "Call the fire brigade"
        },
        "external_issue_reference": {
          "$ref": "#/definitions/ExternalIssueReferenceV1ResponseBody"
        },
        "follow_up": {
          "type": "boolean",
          "description": "Whether an action is marked as follow-up",
          "example": true
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for the action",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "incident_id": {
          "type": "string",
          "description": "Unique identifier of the incident the action belongs to",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "status": {
          "type": "string",
          "description": "Status of the action",
          "example": "outstanding",
          "enum": [
            "outstanding",
            "completed",
            "deleted",
            "not_doing"
          ]
        },
        "updated_at": {
          "type": "string",
          "description": "When the action was last updated",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        }
      },
      "example": {
        "assignee": {
          "email": "lisa@incident.io",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Lisa Karlin Curtis",
          "role": "viewer",
          "slack_user_id": "U02AYNF2XJM"
        },
        "completed_at": "2021-08-17T13:28:57.801578Z",
        "created_at": "2021-08-17T13:28:57.801578Z",
        "description": "Call the fire brigade",
        "external_issue_reference": {
          "issue_name": "INC-123",
          "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
          "provider": "asana"
        },
        "follow_up": true,
        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "status": "outstanding",
        "updated_at": "2021-08-17T13:28:57.801578Z"
      },
      "required": [
        "id",
        "incident_id",
        "status",
        "follow_up",
        "created_at",
        "updated_at"
      ]
    },
    "ActionsV1ListResponseBody": {
      "title": "ActionsV1ListResponseBody",
      "type": "object",
      "properties": {
        "actions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionV1ResponseBody"
          },
          "example": [
            {
              "assignee": {
                "email": "lisa@incident.io",
                "id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "name": "Lisa Karlin Curtis",
                "role": "viewer",
                "slack_user_id": "U02AYNF2XJM"
              },
              "completed_at": "2021-08-17T13:28:57.801578Z",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "description": "Call the fire brigade",
              "external_issue_reference": {
                "issue_name": "INC-123",
                "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
                "provider": "asana"
              },
              "follow_up": true,
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "status": "outstanding",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        }
      },
      "example": {
        "actions": [
          {
            "assignee": {
              "email": "lisa@incident.io",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Lisa Karlin Curtis",
              "role": "viewer",
              "slack_user_id": "U02AYNF2XJM"
            },
            "completed_at": "2021-08-17T13:28:57.801578Z",
            "created_at": "2021-08-17T13:28:57.801578Z",
            "description": "Call the fire brigade",
            "external_issue_reference": {
              "issue_name": "INC-123",
              "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
              "provider": "asana"
            },
            "follow_up": true,
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "status": "outstanding",
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        ]
      },
      "required": [
        "actions"
      ]
    },
    "ActionsV1ShowResponseBody": {
      "title": "ActionsV1ShowResponseBody",
      "type": "object",
      "properties": {
        "action": {
          "$ref": "#/definitions/ActionV1ResponseBody"
        }
      },
      "example": {
        "action": {
          "assignee": {
            "email": "lisa@incident.io",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Lisa Karlin Curtis",
            "role": "viewer",
            "slack_user_id": "U02AYNF2XJM"
          },
          "completed_at": "2021-08-17T13:28:57.801578Z",
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Call the fire brigade",
          "external_issue_reference": {
            "issue_name": "INC-123",
            "issue_permalink": "https://linear.app/incident-io/issue/INC-1609/find-copywriter-to-write-up",
            "provider": "asana"
          },
          "follow_up": true,
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "incident_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "status": "outstanding",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        }
      },
      "required": [
        "action"
      ]
    },
    "ActorV1ResponseBody": {
      "title": "ActorV1ResponseBody",
      "type": "object",
      "properties": {
        "api_key": {
          "$ref": "#/definitions/APIKeyV1ResponseBody"
        },
        "user": {
          "$ref": "#/definitions/UserV1ResponseBody"
        }
      },
      "example": {
        "api_key": {
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "My test API key"
        },
        "user": {
          "email": "lisa@incident.io",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Lisa Karlin Curtis",
          "role": "viewer",
          "slack_user_id": "U02AYNF2XJM"
        }
      }
    },
    "ActorV2ResponseBody": {
      "title": "ActorV2ResponseBody",
      "type": "object",
      "properties": {
        "api_key": {
          "$ref": "#/definitions/APIKeyV2ResponseBody"
        },
        "user": {
          "$ref": "#/definitions/UserV2ResponseBody"
        }
      },
      "example": {
        "api_key": {
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "My test API key"
        },
        "user": {
          "email": "lisa@incident.io",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Lisa Karlin Curtis",
          "role": "viewer",
          "slack_user_id": "U02AYNF2XJM"
        }
      }
    },
    "CatalogAttributeBindingPayloadV2RequestBody": {
      "title": "CatalogAttributeBindingPayloadV2RequestBody",
      "type": "object",
      "properties": {
        "array_value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogAttributeValuePayloadV2RequestBody"
          },
          "description": "If set, this is the array value of the attribute",
          "example": [
            {
              "literal": "SEV123"
            }
          ]
        },
        "value": {
          "$ref": "#/definitions/CatalogAttributeValuePayloadV2RequestBody"
        }
      },
      "example": {
        "array_value": [
          {
            "literal": "SEV123"
          }
        ],
        "value": {
          "literal": "SEV123"
        }
      }
    },
    "CatalogAttributeBindingV2ResponseBody": {
      "title": "CatalogAttributeBindingV2ResponseBody",
      "type": "object",
      "properties": {
        "array_value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogAttributeValueV2ResponseBody"
          },
          "description": "If array_value is set, this helps render the values",
          "example": [
            {
              "catalog_entry": {
                "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
              },
              "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
              "is_image_slack_icon": false,
              "label": "Lawrence Jones",
              "literal": "SEV123",
              "sort_key": "000020"
            }
          ]
        },
        "value": {
          "$ref": "#/definitions/CatalogAttributeValueV2ResponseBody"
        }
      },
      "example": {
        "array_value": [
          {
            "catalog_entry": {
              "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
            },
            "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
            "is_image_slack_icon": false,
            "label": "Lawrence Jones",
            "literal": "SEV123",
            "sort_key": "000020"
          }
        ],
        "value": {
          "catalog_entry": {
            "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
          },
          "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
          "is_image_slack_icon": false,
          "label": "Lawrence Jones",
          "literal": "SEV123",
          "sort_key": "000020"
        }
      }
    },
    "CatalogAttributeValuePayloadV2RequestBody": {
      "title": "CatalogAttributeValuePayloadV2RequestBody",
      "type": "object",
      "properties": {
        "literal": {
          "type": "string",
          "description": "The literal value of this attribute",
          "example": "SEV123"
        }
      },
      "example": {
        "literal": "SEV123"
      }
    },
    "CatalogAttributeValueV2ResponseBody": {
      "title": "CatalogAttributeValueV2ResponseBody",
      "type": "object",
      "properties": {
        "catalog_entry": {
          "$ref": "#/definitions/CatalogEntryReferenceV2ResponseBody"
        },
        "image_url": {
          "type": "string",
          "description": "If appropriate, URL to an image that can be displayed alongside the option",
          "example": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg"
        },
        "is_image_slack_icon": {
          "type": "boolean",
          "description": "If true, the image_url is a Slack icon and should be displayed as such",
          "example": false
        },
        "label": {
          "type": "string",
          "description": "Human readable label to be displayed for user to select",
          "example": "Lawrence Jones"
        },
        "literal": {
          "type": "string",
          "description": "If set, this is the literal value of the step parameter",
          "example": "SEV123"
        },
        "sort_key": {
          "type": "string",
          "description": "Gives an indication of how to sort the options when displayed to the user",
          "example": "000020"
        }
      },
      "example": {
        "catalog_entry": {
          "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
        "is_image_slack_icon": false,
        "label": "Lawrence Jones",
        "literal": "SEV123",
        "sort_key": "000020"
      },
      "required": [
        "label",
        "sort_key"
      ]
    },
    "CatalogEntryReferenceV2ResponseBody": {
      "title": "CatalogEntryReferenceV2ResponseBody",
      "type": "object",
      "properties": {
        "catalog_entry_id": {
          "type": "string",
          "description": "ID of this catalog entry",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "catalog_type_id": {
          "type": "string",
          "description": "ID of this catalog type",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        }
      },
      "example": {
        "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
      },
      "required": [
        "catalog_type_id",
        "catalog_entry_id"
      ]
    },
    "CatalogEntryV2ResponseBody": {
      "title": "CatalogEntryV2ResponseBody",
      "type": "object",
      "properties": {
        "attribute_values": {
          "type": "object",
          "description": "Values of this entry",
          "example": {
            "abc123": {
              "array_value": [
                {
                  "catalog_entry": {
                    "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                  },
                  "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                  "is_image_slack_icon": false,
                  "label": "Lawrence Jones",
                  "literal": "SEV123",
                  "sort_key": "000020"
                }
              ],
              "value": {
                "catalog_entry": {
                  "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                },
                "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                "is_image_slack_icon": false,
                "label": "Lawrence Jones",
                "literal": "SEV123",
                "sort_key": "000020"
              }
            }
          },
          "additionalProperties": {
            "$ref": "#/definitions/CatalogAttributeBindingV2ResponseBody"
          }
        },
        "catalog_type_id": {
          "type": "string",
          "description": "ID of this catalog type",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "created_at": {
          "type": "string",
          "description": "When this entry was created",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "ID of this resource",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "name": {
          "type": "string",
          "description": "Name is the human readable name of this entry",
          "example": "Primary On-call"
        },
        "updated_at": {
          "type": "string",
          "description": "When this entry was last updated",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        }
      },
      "example": {
        "attribute_values": {
          "abc123": {
            "array_value": [
              {
                "catalog_entry": {
                  "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                },
                "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                "is_image_slack_icon": false,
                "label": "Lawrence Jones",
                "literal": "SEV123",
                "sort_key": "000020"
              }
            ],
            "value": {
              "catalog_entry": {
                "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
              },
              "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
              "is_image_slack_icon": false,
              "label": "Lawrence Jones",
              "literal": "SEV123",
              "sort_key": "000020"
            }
          }
        },
        "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "created_at": "2021-08-17T13:28:57.801578Z",
        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "name": "Primary On-call",
        "updated_at": "2021-08-17T13:28:57.801578Z"
      },
      "required": [
        "id",
        "catalog_type_id",
        "name",
        "attribute_values",
        "created_at",
        "updated_at"
      ]
    },
    "CatalogTypeAttributePayloadV2RequestBody": {
      "title": "CatalogTypeAttributePayloadV2RequestBody",
      "type": "object",
      "properties": {
        "array": {
          "type": "boolean",
          "description": "Whether this column is an array",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "The ID of this column",
          "example": "01GW2G3V0S59R238FAHPDS1R66"
        },
        "name": {
          "type": "string",
          "description": "Unique name of this column",
          "example": "tier"
        },
        "type": {
          "type": "string",
          "description": "The type of this column",
          "example": "tier"
        }
      },
      "example": {
        "array": false,
        "id": "01GW2G3V0S59R238FAHPDS1R66",
        "name": "tier",
        "type": "tier"
      },
      "required": [
        "name",
        "type",
        "array"
      ]
    },
    "CatalogTypeAttributeV2ResponseBody": {
      "title": "CatalogTypeAttributeV2ResponseBody",
      "type": "object",
      "properties": {
        "array": {
          "type": "boolean",
          "description": "Whether this column is an array",
          "example": false
        },
        "id": {
          "type": "string",
          "description": "The ID of this column",
          "example": "01GW2G3V0S59R238FAHPDS1R66"
        },
        "name": {
          "type": "string",
          "description": "Unique name of this column",
          "example": "tier"
        },
        "type": {
          "type": "string",
          "description": "The type of this column",
          "example": "tier"
        }
      },
      "example": {
        "array": false,
        "id": "01GW2G3V0S59R238FAHPDS1R66",
        "name": "tier",
        "type": "tier"
      },
      "required": [
        "id",
        "name",
        "type",
        "array"
      ]
    },
    "CatalogTypeSchemaV2ResponseBody": {
      "title": "CatalogTypeSchemaV2ResponseBody",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogTypeAttributeV2ResponseBody"
          },
          "description": "Attributes of this catalog type",
          "example": [
            {
              "array": false,
              "id": "01GW2G3V0S59R238FAHPDS1R66",
              "name": "tier",
              "type": "tier"
            }
          ]
        }
      },
      "example": {
        "attributes": [
          {
            "array": false,
            "id": "01GW2G3V0S59R238FAHPDS1R66",
            "name": "tier",
            "type": "tier"
          }
        ]
      },
      "required": [
        "attributes"
      ]
    },
    "CatalogTypeV2ResponseBody": {
      "title": "CatalogTypeV2ResponseBody",
      "type": "object",
      "properties": {
        "created_at": {
          "type": "string",
          "description": "When this type was created",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "Human readble description of this type",
          "example": "Represents Kubernetes clusters that we run inside of GKE."
        },
        "id": {
          "type": "string",
          "description": "ID of this resource",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "name": {
          "type": "string",
          "description": "Name is the human readable name of this type",
          "example": "Kubernetes Cluster"
        },
        "schema": {
          "$ref": "#/definitions/CatalogTypeSchemaV2ResponseBody"
        },
        "semantic_type": {
          "type": "string",
          "description": "Semantic type of this resource",
          "example": "service"
        },
        "updated_at": {
          "type": "string",
          "description": "When this type was last updated",
          "example": "2021-08-17T13:28:57.801578Z",
          "format": "date-time"
        }
      },
      "example": {
        "created_at": "2021-08-17T13:28:57.801578Z",
        "description": "Represents Kubernetes clusters that we run inside of GKE.",
        "id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "name": "Kubernetes Cluster",
        "schema": {
          "attributes": [
            {
              "array": false,
              "id": "01GW2G3V0S59R238FAHPDS1R66",
              "name": "tier",
              "type": "tier"
            }
          ]
        },
        "semantic_type": "service",
        "updated_at": "2021-08-17T13:28:57.801578Z"
      },
      "required": [
        "id",
        "name",
        "description",
        "semantic_type",
        "schema",
        "created_at",
        "updated_at"
      ]
    },
    "CatalogV2CreateEntryRequestBody": {
      "title": "CatalogV2CreateEntryRequestBody",
      "type": "object",
      "properties": {
        "attribute_values": {
          "type": "object",
          "description": "Values of this entry",
          "example": {
            "abc123": {
              "array_value": [
                {
                  "literal": "SEV123"
                }
              ],
              "value": {
                "literal": "SEV123"
              }
            }
          },
          "additionalProperties": {
            "$ref": "#/definitions/CatalogAttributeBindingPayloadV2RequestBody"
          }
        },
        "catalog_type_id": {
          "type": "string",
          "description": "ID of this catalog type",
          "example": "01FCNDV6P870EA6S7TK1DSYDG0"
        },
        "name": {
          "type": "string",
          "description": "Name is the human readable name of this entry",
          "example": "Primary On-call"
        }
      },
      "example": {
        "attribute_values": {
          "abc123": {
            "array_value": [
              {
                "literal": "SEV123"
              }
            ],
            "value": {
              "literal": "SEV123"
            }
          }
        },
        "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0",
        "name": "Primary On-call"
      },
      "required": [
        "catalog_type_id",
        "name",
        "attribute_values",
        "id",
        "created_at",
        "updated_at"
      ]
    },
    "CatalogV2CreateEntryResponseBody": {
      "title": "CatalogV2CreateEntryResponseBody",
      "type": "object",
      "properties": {
        "catalog_entry": {
          "$ref": "#/definitions/CatalogEntryV2ResponseBody"
        }
      },
      "example": {
        "catalog_entry": {
          "attribute_values": {
            "abc123": {
              "array_value": [
                {
                  "catalog_entry": {
                    "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                  },
                  "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                  "is_image_slack_icon": false,
                  "label": "Lawrence Jones",
                  "literal": "SEV123",
                  "sort_key": "000020"
                }
              ],
              "value": {
                "catalog_entry": {
                  "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                  "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                },
                "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                "is_image_slack_icon": false,
                "label": "Lawrence Jones",
                "literal": "SEV123",
                "sort_key": "000020"
              }
            }
          },
          "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "created_at": "2021-08-17T13:28:57.801578Z",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Primary On-call",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        }
      },
      "required": [
        "catalog_entry"
      ]
    },
    "CatalogV2CreateTypeRequestBody": {
      "title": "CatalogV2CreateTypeRequestBody",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Human readble description of this type",
          "example": "Represents Kubernetes clusters that we run inside of GKE."
        },
        "name": {
          "type": "string",
          "description": "Name is the human readable name of this type",
          "example": "Kubernetes Cluster"
        },
        "semantic_type": {
          "type": "string",
          "description": "Semantic type of this resource",
          "example": "service"
        }
      },
      "example": {
        "description": "Represents Kubernetes clusters that we run inside of GKE.",
        "name": "Kubernetes Cluster",
        "semantic_type": "service"
      },
      "required": [
        "id",
        "name",
        "description",
        "semantic_type",
        "schema",
        "created_at",
        "updated_at"
      ]
    },
    "CatalogV2CreateTypeResponseBody": {
      "title": "CatalogV2CreateTypeResponseBody",
      "type": "object",
      "properties": {
        "catalog_type": {
          "$ref": "#/definitions/CatalogTypeV2ResponseBody"
        }
      },
      "example": {
        "catalog_type": {
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Represents Kubernetes clusters that we run inside of GKE.",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Kubernetes Cluster",
          "schema": {
            "attributes": [
              {
                "array": false,
                "id": "01GW2G3V0S59R238FAHPDS1R66",
                "name": "tier",
                "type": "tier"
              }
            ]
          },
          "semantic_type": "service",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        }
      },
      "required": [
        "catalog_type"
      ]
    },
    "CatalogV2ListEntriesResponseBody": {
      "title": "CatalogV2ListEntriesResponseBody",
      "type": "object",
      "properties": {
        "catalog_entries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CatalogEntryV2ResponseBody"
          },
          "example": [
            {
              "attribute_values": {
                "abc123": {
                  "array_value": [
                    {
                      "catalog_entry": {
                        "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                        "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                      },
                      "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                      "is_image_slack_icon": false,
                      "label": "Lawrence Jones",
                      "literal": "SEV123",
                      "sort_key": "000020"
                    }
                  ],
                  "value": {
                    "catalog_entry": {
                      "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                    },
                    "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                    "is_image_slack_icon": false,
                    "label": "Lawrence Jones",
                    "literal": "SEV123",
                    "sort_key": "000020"
                  }
                }
              },
              "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "created_at": "2021-08-17T13:28:57.801578Z",
              "id": "01FCNDV6P870EA6S7TK1DSYDG0",
              "name": "Primary On-call",
              "updated_at": "2021-08-17T13:28:57.801578Z"
            }
          ]
        },
        "catalog_type": {
          "$ref": "#/definitions/CatalogTypeV2ResponseBody"
        }
      },
      "example": {
        "catalog_entries": [
          {
            "attribute_values": {
              "abc123": {
                "array_value": [
                  {
                    "catalog_entry": {
                      "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                      "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                    },
                    "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                    "is_image_slack_icon": false,
                    "label": "Lawrence Jones",
                    "literal": "SEV123",
                    "sort_key": "000020"
                  }
                ],
                "value": {
                  "catalog_entry": {
                    "catalog_entry_id": "01FCNDV6P870EA6S7TK1DSYDG0",
                    "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0"
                  },
                  "image_url": "https://avatars.slack-edge.com/2021-08-09/2372763167857_6f65d94928b0a0ac590b_192.jpg",
                  "is_image_slack_icon": false,
                  "label": "Lawrence Jones",
                  "literal": "SEV123",
                  "sort_key": "000020"
                }
              }
            },
            "catalog_type_id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "created_at": "2021-08-17T13:28:57.801578Z",
            "id": "01FCNDV6P870EA6S7TK1DSYDG0",
            "name": "Primary On-call",
            "updated_at": "2021-08-17T13:28:57.801578Z"
          }
        ],
        "catalog_type": {
          "created_at": "2021-08-17T13:28:57.801578Z",
          "description": "Represents Kubernetes clusters that we run inside of GKE.",
          "id": "01FCNDV6P870EA6S7TK1DSYDG0",
          "name": "Kubernetes Cluster",
          "schema": {
            "attributes": [
              {
                "array": false,
                "id": "01GW2G3V0S59R238FAHPDS1R66",
                "name": "tier",
                "type": "tier"
              }
            ]
          },
          "semantic_type": "service",
          "updated_at": "2021-08-17T13:28:57.801578Z"
        }
      },
      "required": [
        "catalog_type",
        "catalog_entries"
      ]
    },
[...]
