swagger: "2.0"
info:
    title: incident.io
    description: |
        This is the API reference for incident.io.

        It documents available API endpoints, provides examples of how to use it, and
        instructions around things like authentication and error handling.

        The API is hosted at:

        - https://api.incident.io/

        And you will need to create an API key via your [incident.io
        dashboard](https://app.incident.io/settings/api-keys) to make requests.

        # Making requests

        Here are the key concepts required to make requests to the incident.io API.

        ## Authentication

        For all requests made to the incident.io API, you'll need an API key.

        To create an API key, head to the incident dashboard and visit [API
        keys](https://app.incident.io/settings/api-keys). When you create the key,
        you'll be able to choose what actions it can take for your account: choose
        carefully, as those roles can only be set when you first create the key. We'll
        only show you the token once, so make sure you store it somewhere safe.

        Once you have the key, you should make requests to the API that set the
        `Authorization` request header using a "Bearer" authentication scheme:

        ```
        Authorization: Bearer <YOUR_API_KEY>
        ```

        ## Errors

        We use standard HTTP response codes to indicate the status or failure of API
        requests.

        The API response body will be JSON, and contain more detailed information on the
        nature of the error.

        An example error when a request is made without an API key:

        ```json
        {
          "type": "authentication_error",
          "status": 401,
          "request_id": "8e3cc412-b49d-4957-9073-2c19d2c61804",
          "errors": [
            {
              "code": "missing_authorization_material",
              "message": "No authorization material provided in request"
            }
          ]
        }
        ```

        Note that the error:

        - Contains the HTTP status (`401`)
        - References the type of error (`authentication_error`)
        - Includes a `request_id` that can be provided to incident.io support to help
        	debug questions with your API request
        - Provides a list of individual errors, which go into detail about why the error
        	occurred

        The most common error will be a 422 Validation Error, which is returned when the
        request was rejected due to failing validations.

        These errors look like this:

        ```json
        {
          "type": "validation_error",
          "status": 422,
          "request_id": "631766c4-4afd-4803-997c-cd700928fa4b",
          "errors": [
            {
              "code": "is_required",
              "message": "A severity is required to open an incident",
              "source": {
                "field": "severity_id"
              }
            }
          ]
        }
        ```

        This error is caused by not providing a severity identifier, which should be at
        the `severity_id` field of the request payload. Errors like these can be mapped to
        forms, should you be integrating with the API from a user-interface.

        ## Compatibility

        We won't make breaking changes to existing API services or endpoints, but will
        expect integrators to upgrade themselves to the latest API endpoints within 3
        months of us deprecating the old service.

        We will make changes that are considered backwards compatible, which include:

        - Adding new API endpoints and services
        - Adding new properties to responses from existing API endpoints
        - Reordering properties returned from existing API endpoints
        - Adding optional request parameters to existing API endpoints
        - Altering the format or length of IDs
        - Adding new values to enums

        It is important that clients are robust to these changes, to ensure reliable
        integrations.

        As an example, if you are generating a client using an openapi-generator, ensure
        the generated client is configured to support unknown enum values, often
        configured via the `enumUnknownDefaultCase` parameter.

        When breaking changes are unavoidable, we'll create a new service version on a
        separate path, and run them in parallel.

        For example:

        - https://api.incident.io/v1/incidents
        - https://api.incident.io/v2/incidents

        For any questions, email support@incident.io.
    version: 1.0.0
host: api.incident.io
consumes:
    - application/json
    - application/xml
    - application/gob
produces:
    - application/json
    - application/xml
    - application/gob
paths:
    /v1/actions:
        get:
            description: List all actions for an organisation.
            operationId: Actions V1#List
            parameters:
                - description: Find actions related to this incident
                  in: query
                  name: incident_id
                  required: false
                  type: string
                - description: Filter to actions marked as being follow up actions
                  in: query
                  name: is_follow_up
                  required: false
                  type: boolean
                - description: Filter to actions from incidents of the given mode. If not set, only actions from `real` incidents are returned
                  enum:
                    - real
                    - test
                    - tutorial
                  in: query
                  name: incident_mode
                  required: false
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ActionsV1ListResponseBody'
                        required:
                            - actions
            schemes:
                - https
            summary: List Actions V1
            tags:
                - Actions V1
            deprecated: true
    /v1/actions/{id}:
        get:
            description: Get a single incident action.
            operationId: Actions V1#Show
            parameters:
                - description: Unique identifier for the action
                  in: path
                  name: id
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ActionsV1ShowResponseBody'
                        required:
                            - action
            schemes:
                - https
            summary: Show Actions V1
            tags:
                - Actions V1
            deprecated: true
    /v1/custom_field_options:
        get:
            tags:
                - Custom Field Options V1
            summary: List Custom Field Options V1
            description: Show custom field options for a custom field
            operationId: Custom Field Options V1#List
            parameters:
                - name: page_size
                  in: query
                  description: number of records to return
                  required: false
                  type: integer
                  default: 25
                - name: after
                  in: query
                  description: A custom field option's ID. This endpoint will return a list of custom field options created after this option.
                  required: false
                  type: string
                - name: custom_field_id
                  in: query
                  description: The custom field to list options for.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldOptionsV1ListResponseBody'
                        required:
                            - custom_field_options
                            - pagination_meta
            schemes:
                - https
        post:
            tags:
                - Custom Field Options V1
            summary: Create Custom Field Options V1
            description: Create a custom field option. If the sort key is not supplied, it'll default to 1000, so the option appears near the end of the list.
            operationId: Custom Field Options V1#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CustomFieldOptionsV1CreateRequestBody'
                    required:
                        - custom_field_id
                        - value
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/CustomFieldOptionsV1CreateResponseBody'
                        required:
                            - custom_field_option
            schemes:
                - https
    /v1/custom_field_options/{id}:
        get:
            tags:
                - Custom Field Options V1
            summary: Show Custom Field Options V1
            description: Get a single custom field option
            operationId: Custom Field Options V1#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the custom field option
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldOptionsV1ShowResponseBody'
                        required:
                            - custom_field_option
            schemes:
                - https
        put:
            tags:
                - Custom Field Options V1
            summary: Update Custom Field Options V1
            description: Update a custom field option
            operationId: Custom Field Options V1#Update
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the custom field option
                  required: true
                  type: string
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CustomFieldOptionsV1UpdateRequestBody'
                    required:
                        - value
                        - custom_field_id
                        - sort_key
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldOptionsV1UpdateResponseBody'
                        required:
                            - custom_field_option
            schemes:
                - https
        delete:
            tags:
                - Custom Field Options V1
            summary: Delete Custom Field Options V1
            description: Delete a custom field option
            operationId: Custom Field Options V1#Delete
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the custom field option
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v1/custom_fields:
        get:
            description: List all custom fields for an organisation.
            operationId: Custom Fields V1#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV1ListResponseBody'
                        required:
                            - custom_fields
            schemes:
                - https
            summary: List Custom Fields V1
            tags:
                - Custom Fields V1
            deprecated: true
        post:
            description: Create a new custom field
            operationId: Custom Fields V1#Create
            parameters:
                - in: body
                  name: CreateRequestBody
                  required: true
                  schema:
                    $ref: '#/definitions/CustomFieldsV1CreateRequestBody'
                    required:
                        - id
                        - name
                        - description
                        - field_type
                        - show_before_creation
                        - show_before_closure
                        - show_before_update
                        - options
                        - created_at
                        - updated_at
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV1CreateResponseBody'
                        required:
                            - custom_field
            schemes:
                - https
            summary: Create Custom Fields V1
            tags:
                - Custom Fields V1
            deprecated: true
    /v1/custom_fields/{id}:
        get:
            description: Get a single custom field.
            operationId: Custom Fields V1#Show
            parameters:
                - description: Unique identifier for the custom field
                  in: path
                  name: id
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV1ShowResponseBody'
                        required:
                            - custom_field
            schemes:
                - https
            summary: Show Custom Fields V1
            tags:
                - Custom Fields V1
            deprecated: true
        put:
            description: Update the details of a custom field
            operationId: Custom Fields V1#Update
            parameters:
                - description: Unique identifier for the custom field
                  in: path
                  name: id
                  required: true
                  type: string
                - in: body
                  name: UpdateRequestBody
                  required: true
                  schema:
                    $ref: '#/definitions/CustomFieldsV1UpdateRequestBody'
                    required:
                        - name
                        - description
                        - field_type
                        - show_before_creation
                        - show_before_closure
                        - show_before_update
                        - options
                        - created_at
                        - updated_at
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV1UpdateResponseBody'
                        required:
                            - custom_field
            schemes:
                - https
            summary: Update Custom Fields V1
            tags:
                - Custom Fields V1
            deprecated: true
        delete:
            description: Delete a custom field
            operationId: Custom Fields V1#Delete
            parameters:
                - description: Unique identifier for the custom field
                  in: path
                  name: id
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
            summary: Delete Custom Fields V1
            tags:
                - Custom Fields V1
            deprecated: true
    /v1/identity:
        get:
            tags:
                - Utilities V1
            summary: Identity Utilities V1
            description: Test if your API key is valid, and which roles it has.
            operationId: Utilities V1#Identity
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/UtilitiesV1IdentityResponseBody'
                        required:
                            - identity
            schemes:
                - https
    /v1/incident_attachments:
        get:
            tags:
                - Incident Attachments V1
            summary: List Incident Attachments V1
            description: List all incident attachements for a given external resource or incident. You must provide either a specific incident ID or a specific external resource type and external ID.
            operationId: Incident Attachments V1#List
            parameters:
                - name: incident_id
                  in: query
                  description: Incident that this attachment is against
                  required: false
                  type: string
                - name: external_id
                  in: query
                  description: ID of the resource in the external system
                  required: false
                  type: string
                - name: resource_type
                  in: query
                  description: 'E.g. PagerDuty: the external system that holds the resource'
                  required: false
                  type: string
                  enum:
                    - pager_duty_incident
                    - opsgenie_alert
                    - datadog_monitor_alert
                    - github_pull_request
                    - gitlab_merge_request
                    - sentry_issue
                    - jira_issue
                    - atlassian_statuspage_incident
                    - zendesk_ticket
                    - google_calendar_event
                    - scrubbed
                    - statuspage_incident
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentAttachmentsV1ListResponseBody'
                        required:
                            - incident_attachments
            schemes:
                - https
        post:
            tags:
                - Incident Attachments V1
            summary: Create Incident Attachments V1
            description: Attaches an external resource to an incident
            operationId: Incident Attachments V1#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentAttachmentsV1CreateRequestBody'
                    required:
                        - incident_id
                        - resource
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/IncidentAttachmentsV1CreateResponseBody'
                        required:
                            - incident_attachment
            schemes:
                - https
    /v1/incident_attachments/{id}:
        delete:
            tags:
                - Incident Attachments V1
            summary: Delete Incident Attachments V1
            description: Unattaches an external resouce from an incident
            operationId: Incident Attachments V1#Delete
            parameters:
                - name: id
                  in: path
                  description: Unique identifier of this incident membership
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v1/incident_memberships:
        post:
            tags:
                - Incident Memberships V1
            summary: Create Incident Memberships V1
            description: Makes a user a member of a private incident
            operationId: Incident Memberships V1#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentMembershipsV1CreateRequestBody'
                    required:
                        - user_id
                        - incident_id
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/IncidentMembershipsV1CreateResponseBody'
                        required:
                            - incident_membership
            schemes:
                - https
    /v1/incident_memberships/actions/revoke:
        post:
            tags:
                - Incident Memberships V1
            summary: Revoke Incident Memberships V1
            description: Revoke a user's membership of a private incident
            operationId: Incident Memberships V1#Revoke
            parameters:
                - name: RevokeRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentMembershipsV1RevokeRequestBody'
                    required:
                        - user_id
                        - incident_id
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v1/incident_roles:
        get:
            description: List all incident roles for an organisation.
            operationId: Incident Roles V1#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV1ListResponseBody'
                        required:
                            - incident_roles
            schemes:
                - https
            summary: List Incident Roles V1
            tags:
                - Incident Roles V1
            deprecated: true
        post:
            description: Create a new incident role
            operationId: Incident Roles V1#Create
            parameters:
                - in: body
                  name: CreateRequestBody
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentRolesV1CreateRequestBody'
                    required:
                        - name
                        - shortform
                        - description
                        - instructions
                        - required
                        - condition_groups
                        - id
                        - role_type
                        - created_at
                        - updated_at
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV1CreateResponseBody'
                        required:
                            - incident_role
            schemes:
                - https
            summary: Create Incident Roles V1
            tags:
                - Incident Roles V1
            deprecated: true
    /v1/incident_roles/{id}:
        get:
            description: Get a single incident role.
            operationId: Incident Roles V1#Show
            parameters:
                - description: Unique identifier for the role
                  in: path
                  name: id
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV1ShowResponseBody'
                        required:
                            - incident_role
            schemes:
                - https
            summary: Show Incident Roles V1
            tags:
                - Incident Roles V1
            deprecated: true
        put:
            description: Update an existing incident role
            operationId: Incident Roles V1#Update
            parameters:
                - description: Unique identifier for the role
                  in: path
                  name: id
                  required: true
                  type: string
                - in: body
                  name: UpdateRequestBody
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentRolesV1UpdateRequestBody'
                    required:
                        - condition_groups
                        - name
                        - description
                        - instructions
                        - shortform
                        - role_type
                        - created_at
                        - updated_at
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV1UpdateResponseBody'
                        required:
                            - incident_role
            schemes:
                - https
            summary: Update Incident Roles V1
            tags:
                - Incident Roles V1
            deprecated: true
        delete:
            description: Removes an existing role
            operationId: Incident Roles V1#Delete
            parameters:
                - description: Unique identifier for the role
                  in: path
                  name: id
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
            summary: Delete Incident Roles V1
            tags:
                - Incident Roles V1
            deprecated: true
    /v1/incident_statuses:
        get:
            tags:
                - Incident Statuses V1
            summary: List Incident Statuses V1
            description: List all incident statuses for an organisation.
            operationId: Incident Statuses V1#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentStatusesV1ListResponseBody'
                        required:
                            - incident_statuses
            schemes:
                - https
        post:
            tags:
                - Incident Statuses V1
            summary: Create Incident Statuses V1
            description: Create a new incident status
            operationId: Incident Statuses V1#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentStatusesV1CreateRequestBody'
                    required:
                        - name
                        - description
                        - category
                        - id
                        - rank
                        - created_at
                        - updated_at
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/IncidentStatusesV1CreateResponseBody'
                        required:
                            - incident_status
            schemes:
                - https
    /v1/incident_statuses/{id}:
        get:
            tags:
                - Incident Statuses V1
            summary: Show Incident Statuses V1
            description: Get a single incident status.
            operationId: Incident Statuses V1#Show
            parameters:
                - name: id
                  in: path
                  description: Unique ID of this incident status
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentStatusesV1ShowResponseBody'
                        required:
                            - incident_status
            schemes:
                - https
        put:
            tags:
                - Incident Statuses V1
            summary: Update Incident Statuses V1
            description: Update an existing incident status
            operationId: Incident Statuses V1#Update
            parameters:
                - name: id
                  in: path
                  description: Unique ID of this incident status
                  required: true
                  type: string
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentStatusesV1UpdateRequestBody'
                    required:
                        - name
                        - description
                        - rank
                        - category
                        - created_at
                        - updated_at
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentStatusesV1UpdateResponseBody'
                        required:
                            - incident_status
            schemes:
                - https
        delete:
            tags:
                - Incident Statuses V1
            summary: Delete Incident Statuses V1
            description: Delete an incident status
            operationId: Incident Statuses V1#Delete
            parameters:
                - name: id
                  in: path
                  description: Unique ID of this incident status
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
            schemes:
                - https
    /v1/incident_types:
        get:
            tags:
                - Incident Types V1
            summary: List Incident Types V1
            description: List all incident types for an organisation.
            operationId: Incident Types V1#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentTypesV1ListResponseBody'
                        required:
                            - incident_types
            schemes:
                - https
    /v1/incident_types/{id}:
        get:
            tags:
                - Incident Types V1
            summary: Show Incident Types V1
            description: Get a single incident type.
            operationId: Incident Types V1#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for this Incident Type
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentTypesV1ShowResponseBody'
                        required:
                            - incident_type
            schemes:
                - https
    /v1/incidents:
        get:
            description: List all incidents for an organisation.
            operationId: Incidents V1#List
            parameters:
                - default: 25
                  description: Integer number of records to return
                  in: query
                  maximum: 500
                  name: page_size
                  required: false
                  type: integer
                - description: An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.
                  in: query
                  name: after
                  required: false
                  type: string
                - collectionFormat: multi
                  description: Filter for incidents in these statuses
                  in: query
                  items:
                    type: string
                  name: status
                  required: false
                  type: array
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV1ListResponseBody'
                        required:
                            - incidents
            schemes:
                - https
            summary: List Incidents V1
            tags:
                - Incidents V1
            deprecated: true
        post:
            description: Create a new incident.
            operationId: Incidents V1#Create
            parameters:
                - in: body
                  name: CreateRequestBody
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentsV1CreateRequestBody'
                    required:
                        - idempotency_key
                        - visibility
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV1CreateResponseBody'
                        required:
                            - incident
            schemes:
                - https
            summary: Create Incidents V1
            tags:
                - Incidents V1
            deprecated: true
    /v1/incidents/{id}:
        get:
            description: Get a single incident.
            operationId: Incidents V1#Show
            parameters:
                - description: Unique identifier for the incident
                  in: path
                  name: id
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV1ShowResponseBody'
                        required:
                            - incident
            schemes:
                - https
            summary: Show Incidents V1
            tags:
                - Incidents V1
            deprecated: true
    /v1/openapi.json:
        get:
            tags:
                - Utilities V1
            summary: OpenAPI Utilities V1
            description: Get the OpenAPI (v2) definition.
            operationId: Utilities V1#OpenAPI
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: string
                        format: binary
            schemes:
                - https
    /v1/openapiV3.json:
        get:
            tags:
                - Utilities V1
            summary: OpenAPIV3 Utilities V1
            description: Get the OpenAPI (v3) definition.
            operationId: Utilities V1#OpenAPIV3
            responses:
                "200":
                    description: OK response.
                    schema:
                        type: string
                        format: binary
            schemes:
                - https
    /v1/severities:
        get:
            tags:
                - Severities V1
            summary: List Severities V1
            description: List all incident severities for an organisation.
            operationId: Severities V1#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SeveritiesV1ListResponseBody'
                        required:
                            - severities
            schemes:
                - https
        post:
            tags:
                - Severities V1
            summary: Create Severities V1
            description: Create a new severity
            operationId: Severities V1#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/SeveritiesV1CreateRequestBody'
                    required:
                        - name
                        - description
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/SeveritiesV1CreateResponseBody'
                        required:
                            - severity
            schemes:
                - https
    /v1/severities/{id}:
        get:
            tags:
                - Severities V1
            summary: Show Severities V1
            description: Get a single incident severity.
            operationId: Severities V1#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier of the severity
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SeveritiesV1ShowResponseBody'
                        required:
                            - severity
            schemes:
                - https
        put:
            tags:
                - Severities V1
            summary: Update Severities V1
            description: Update an existing severity
            operationId: Severities V1#Update
            parameters:
                - name: id
                  in: path
                  description: Unique identifier of the severity
                  required: true
                  type: string
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/SeveritiesV1UpdateRequestBody'
                    required:
                        - name
                        - description
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SeveritiesV1UpdateResponseBody'
                        required:
                            - severity
            schemes:
                - https
        delete:
            tags:
                - Severities V1
            summary: Delete Severities V1
            description: Delete a severity
            operationId: Severities V1#Delete
            parameters:
                - name: id
                  in: path
                  description: Unique identifier of the severity
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
            schemes:
                - https
    /v2/actions:
        get:
            tags:
                - Actions V2
            summary: List Actions V2
            description: List all actions for an organisation.
            operationId: Actions V2#List
            parameters:
                - name: incident_id
                  in: query
                  description: Find actions related to this incident
                  required: false
                  type: string
                - name: incident_mode
                  in: query
                  description: Filter to actions from incidents of the given mode. If not set, only actions from `standard` and `retrospective` incidents are returned
                  required: false
                  type: string
                  enum:
                    - standard
                    - retrospective
                    - test
                    - tutorial
                    - stream
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ActionsV2ListResponseBody'
                        required:
                            - actions
            schemes:
                - https
    /v2/actions/{id}:
        get:
            tags:
                - Actions V2
            summary: Show Actions V2
            description: Get a single incident action.
            operationId: Actions V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the action
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ActionsV2ShowResponseBody'
                        required:
                            - action
            schemes:
                - https
    /v2/alert_events/http/{alert_source_config_id}:
        post:
            tags:
                - Alert Events V2
            summary: CreateHTTP Alert Events V2
            description: Create an alert event using an HTTP source.
            operationId: Alert Events V2#CreateHTTP
            parameters:
                - name: token
                  in: query
                  description: Token used to authenticate the request, generated when configuring the alert source. Will be consumed via a URL query string parameter
                  required: false
                  type: string
                - name: alert_source_config_id
                  in: path
                  description: Which alert source config produced this alert
                  required: true
                  type: string
                - name: authorization
                  in: header
                  description: Whatever is provided in the Authorization header. We support either Basic or Bearer authorization with the secret provided on the alert source.
                  required: false
                  type: string
                - name: CreateHTTPRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/AlertEventsV2CreateHTTPRequestBody'
                    required:
                        - title
                        - status
            responses:
                "202":
                    description: Accepted response.
                    schema:
                        $ref: '#/definitions/AlertEventsV2CreateHTTPResponseBody'
                        required:
                            - status
                            - message
                            - deduplication_key
            schemes:
                - https
    /v2/catalog_entries:
        get:
            tags:
                - Catalog V2
            summary: ListEntries Catalog V2
            description: List entries for a catalog type.
            operationId: Catalog V2#ListEntries
            parameters:
                - name: catalog_type_id
                  in: query
                  description: ID of this catalog type
                  required: true
                  type: string
                - name: page_size
                  in: query
                  description: Integer number of records to return
                  required: false
                  type: integer
                  default: 25
                  maximum: 250
                - name: after
                  in: query
                  description: An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.
                  required: false
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2ListEntriesResponseBody'
                        required:
                            - catalog_type
                            - catalog_entries
                            - pagination_meta
            schemes:
                - https
        post:
            tags:
                - Catalog V2
            summary: CreateEntry Catalog V2
            description: Create an entry within the catalog. We support a maximum of 50,000 entries per type.
            operationId: Catalog V2#CreateEntry
            parameters:
                - name: CreateEntryRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CatalogV2CreateEntryRequestBody'
                    required:
                        - catalog_type_id
                        - name
                        - attribute_values
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/CatalogV2CreateEntryResponseBody'
                        required:
                            - catalog_entry
            schemes:
                - https
    /v2/catalog_entries/{id}:
        get:
            tags:
                - Catalog V2
            summary: ShowEntry Catalog V2
            description: Show a single catalog entry.
            operationId: Catalog V2#ShowEntry
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog entry
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2ShowEntryResponseBody'
                        required:
                            - catalog_type
                            - catalog_entry
            schemes:
                - https
        put:
            tags:
                - Catalog V2
            summary: UpdateEntry Catalog V2
            description: Updates an existing catalog entry.
            operationId: Catalog V2#UpdateEntry
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog entry
                  required: true
                  type: string
                - name: UpdateEntryRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CatalogV2UpdateEntryRequestBody'
                    required:
                        - name
                        - attribute_values
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2UpdateEntryResponseBody'
                        required:
                            - catalog_type
                            - catalog_entry
            schemes:
                - https
        delete:
            tags:
                - Catalog V2
            summary: DestroyEntry Catalog V2
            description: Archives a catalog entry.
            operationId: Catalog V2#DestroyEntry
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog entry
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v2/catalog_resources:
        get:
            tags:
                - Catalog V2
            summary: ListResources Catalog V2
            description: |
                List available engine resources for the catalog.

                A resource represents a type of data that can be held within the catalog, so this
                endpoint can be used to see what attribute types can be used when updating the
                schema of a catalog type.
            operationId: Catalog V2#ListResources
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2ListResourcesResponseBody'
                        required:
                            - resources
            schemes:
                - https
    /v2/catalog_types:
        get:
            tags:
                - Catalog V2
            summary: ListTypes Catalog V2
            description: List all catalog types for an organisation, including those synced from external resources.
            operationId: Catalog V2#ListTypes
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2ListTypesResponseBody'
                        required:
                            - catalog_types
            schemes:
                - https
        post:
            tags:
                - Catalog V2
            summary: CreateType Catalog V2
            description: Create a catalog type. The schema must be updated using the UpdateTypeSchema endpoint.
            operationId: Catalog V2#CreateType
            parameters:
                - name: CreateTypeRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CatalogV2CreateTypeRequestBody'
                    required:
                        - name
                        - description
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/CatalogV2CreateTypeResponseBody'
                        required:
                            - catalog_type
            schemes:
                - https
    /v2/catalog_types/{id}:
        get:
            tags:
                - Catalog V2
            summary: ShowType Catalog V2
            description: Show a single catalog type.
            operationId: Catalog V2#ShowType
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog type
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2ShowTypeResponseBody'
                        required:
                            - catalog_type
            schemes:
                - https
        put:
            tags:
                - Catalog V2
            summary: UpdateType Catalog V2
            description: Updates an existing catalog type. The schema must be updated using the UpdateTypeSchema endpoint.
            operationId: Catalog V2#UpdateType
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog type
                  required: true
                  type: string
                - name: UpdateTypeRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CatalogV2UpdateTypeRequestBody'
                    required:
                        - name
                        - description
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2UpdateTypeResponseBody'
                        required:
                            - catalog_type
            schemes:
                - https
        delete:
            tags:
                - Catalog V2
            summary: DestroyType Catalog V2
            description: Archives a catalog type and associated entries.
            operationId: Catalog V2#DestroyType
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog type
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v2/catalog_types/{id}/actions/update_schema:
        post:
            tags:
                - Catalog V2
            summary: UpdateTypeSchema Catalog V2
            description: |-
                Update an existing catalog types schema, adding or removing attributes.

                Updating the schema is handled separately from creating and updating types, so that you don't
                have to worry about dependencies between types. For example, if type A has an attribute that
                relies on type B, you would have to create type B first.

                By allowing the creation of types without a schema, they can be created in any order, but it
                means that you need to make a separate call to this endpoint to update the schema.
            operationId: Catalog V2#UpdateTypeSchema
            parameters:
                - name: id
                  in: path
                  description: ID of this catalog type
                  required: true
                  type: string
                - name: UpdateTypeSchemaRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CatalogV2UpdateTypeSchemaRequestBody'
                    required:
                        - attributes
                        - version
                        - name
                        - description
                        - type_name
                        - semantic_type
                        - ranked
                        - schema
                        - icon
                        - categories
                        - color
                        - is_editable
                        - annotations
                        - created_at
                        - updated_at
                        - engine_resource_type
                        - mode
                        - use_name_as_identifier
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CatalogV2UpdateTypeSchemaResponseBody'
                        required:
                            - catalog_type
            schemes:
                - https
    /v2/custom_fields:
        get:
            tags:
                - Custom Fields V2
            summary: List Custom Fields V2
            description: List all custom fields for an organisation.
            operationId: Custom Fields V2#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV2ListResponseBody'
                        required:
                            - custom_fields
            schemes:
                - https
        post:
            tags:
                - Custom Fields V2
            summary: Create Custom Fields V2
            description: Create a new custom field
            operationId: Custom Fields V2#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CustomFieldsV2CreateRequestBody'
                    required:
                        - id
                        - name
                        - description
                        - field_type
                        - cannot_be_unset
                        - created_at
                        - updated_at
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV2CreateResponseBody'
                        required:
                            - custom_field
            schemes:
                - https
    /v2/custom_fields/{id}:
        get:
            tags:
                - Custom Fields V2
            summary: Show Custom Fields V2
            description: Get a single custom field.
            operationId: Custom Fields V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the custom field
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV2ShowResponseBody'
                        required:
                            - custom_field
            schemes:
                - https
        put:
            tags:
                - Custom Fields V2
            summary: Update Custom Fields V2
            description: Update the details of a custom field
            operationId: Custom Fields V2#Update
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the custom field
                  required: true
                  type: string
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/CustomFieldsV2UpdateRequestBody'
                    required:
                        - name
                        - description
                        - field_type
                        - cannot_be_unset
                        - created_at
                        - updated_at
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/CustomFieldsV2UpdateResponseBody'
                        required:
                            - custom_field
            schemes:
                - https
        delete:
            tags:
                - Custom Fields V2
            summary: Delete Custom Fields V2
            description: Delete a custom field
            operationId: Custom Fields V2#Delete
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the custom field
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v2/escalation_paths:
        post:
            tags:
                - Escalations V2
            summary: CreatePath Escalations V2
            description: |
                Create an escalation path.

                An escalation path is a series of steps that describe how a page should be escalated,
                represented as graph, supporting conditional branches based on alert priority and working
                intervals.

                We recommend you create escalation paths in the incident.io dashboard where our path
                builder makes it easy to use conditions and visualise the path.
            operationId: Escalations V2#CreatePath
            parameters:
                - name: CreatePathRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/EscalationsV2CreatePathRequestBody'
                    required:
                        - name
                        - path
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/EscalationsV2CreatePathResponseBody'
                        required:
                            - escalation_path
            schemes:
                - https
    /v2/escalation_paths/{id}:
        get:
            tags:
                - Escalations V2
            summary: ShowPath Escalations V2
            description: |
                Show an escalation path.

                We recommend you create escalation paths in the incident.io dashboard where our path
                builder makes it easy to use conditions and visualise the path.
            operationId: Escalations V2#ShowPath
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for this escalation path.
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/EscalationsV2ShowPathResponseBody'
                        required:
                            - escalation_path
            schemes:
                - https
        put:
            tags:
                - Escalations V2
            summary: UpdatePath Escalations V2
            description: |
                Updates an escalation path.

                We recommend you create escalation paths in the incident.io dashboard where our path
                builder makes it easy to use conditions and visualise the path.
            operationId: Escalations V2#UpdatePath
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for this escalation path.
                  required: true
                  type: string
                - name: UpdatePathRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/EscalationsV2UpdatePathRequestBody'
                    required:
                        - name
                        - path
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/EscalationsV2UpdatePathResponseBody'
                        required:
                            - escalation_path
            schemes:
                - https
        delete:
            tags:
                - Escalations V2
            summary: DestroyPath Escalations V2
            description: |
                Archives an escalation path.

                We recommend you create escalation paths in the incident.io dashboard where our path
                builder makes it easy to use conditions and visualise the path.
            operationId: Escalations V2#DestroyPath
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for this escalation path.
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v2/follow_ups:
        get:
            tags:
                - Follow-ups V2
            summary: List Follow-ups V2
            description: List all follow-ups for an organisation.
            operationId: Follow-ups V2#List
            parameters:
                - name: incident_id
                  in: query
                  description: Find follow-ups related to this incident
                  required: false
                  type: string
                - name: incident_mode
                  in: query
                  description: Filter to follow-ups from incidents of the given mode. If not set, only follow-ups from `standard` and `retrospective` incidents are returned
                  required: false
                  type: string
                  enum:
                    - standard
                    - retrospective
                    - test
                    - tutorial
                    - stream
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/FollowUpsV2ListResponseBody'
                        required:
                            - follow_ups
            schemes:
                - https
    /v2/follow_ups/{id}:
        get:
            tags:
                - Follow-ups V2
            summary: Show Follow-ups V2
            description: Get a single incident follow-up.
            operationId: Follow-ups V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the follow-up
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/FollowUpsV2ShowResponseBody'
                        required:
                            - follow_up
            schemes:
                - https
    /v2/incident_roles:
        get:
            tags:
                - Incident Roles V2
            summary: List Incident Roles V2
            description: List all incident roles for an organisation.
            operationId: Incident Roles V2#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV2ListResponseBody'
                        required:
                            - incident_roles
            schemes:
                - https
        post:
            tags:
                - Incident Roles V2
            summary: Create Incident Roles V2
            description: Create a new incident role
            operationId: Incident Roles V2#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentRolesV2CreateRequestBody'
                    required:
                        - name
                        - shortform
                        - description
                        - instructions
                        - condition_groups
                        - id
                        - role_type
                        - created_at
                        - updated_at
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV2CreateResponseBody'
                        required:
                            - incident_role
            schemes:
                - https
    /v2/incident_roles/{id}:
        get:
            tags:
                - Incident Roles V2
            summary: Show Incident Roles V2
            description: Get a single incident role.
            operationId: Incident Roles V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the role
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV2ShowResponseBody'
                        required:
                            - incident_role
            schemes:
                - https
        put:
            tags:
                - Incident Roles V2
            summary: Update Incident Roles V2
            description: Update an existing incident role
            operationId: Incident Roles V2#Update
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the role
                  required: true
                  type: string
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentRolesV2UpdateRequestBody'
                    required:
                        - condition_groups
                        - name
                        - description
                        - instructions
                        - shortform
                        - role_type
                        - created_at
                        - updated_at
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentRolesV2UpdateResponseBody'
                        required:
                            - incident_role
            schemes:
                - https
        delete:
            tags:
                - Incident Roles V2
            summary: Delete Incident Roles V2
            description: Removes an existing role
            operationId: Incident Roles V2#Delete
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the role
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /v2/incident_timestamps:
        get:
            tags:
                - Incident Timestamps V2
            summary: List Incident Timestamps V2
            description: List all incident timestamps for an organisation.
            operationId: Incident Timestamps V2#List
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentTimestampsV2ListResponseBody'
                        required:
                            - incident_timestamps
            schemes:
                - https
    /v2/incident_timestamps/{id}:
        get:
            tags:
                - Incident Timestamps V2
            summary: Show Incident Timestamps V2
            description: Get a single incident timestamp.
            operationId: Incident Timestamps V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique ID of this incident timestamp
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentTimestampsV2ShowResponseBody'
                        required:
                            - incident_timestamp
            schemes:
                - https
    /v2/incident_updates:
        get:
            tags:
                - Incident Updates V2
            summary: List Incident Updates V2
            description: List all incident updates for an organisation, or for a specific incident.
            operationId: Incident Updates V2#List
            parameters:
                - name: incident_id
                  in: query
                  description: Incident whose updates you want to list
                  required: false
                  type: string
                - name: page_size
                  in: query
                  description: Integer number of records to return
                  required: false
                  type: integer
                  default: 25
                  maximum: 500
                - name: after
                  in: query
                  description: An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.
                  required: false
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentUpdatesV2ListResponseBody'
                        required:
                            - incident_updates
            schemes:
                - https
    /v2/incidents:
        get:
            tags:
                - Incidents V2
            summary: List Incidents V2
            description: |
                List all incidents for an organisation.

                This endpoint supports a number of filters, which can help find incidents matching certain
                criteria.

                Filters are provided as query parameters, but due to the dynamic nature of what you can
                query by (different accounts have different custom fields, statuses, etc) they are more
                complex than most.

                To help, here are some exemplar curl requests with a human description of what they search
                for.

                Note that:
                - Filters may be used together, and the result will be incidents that match all filters.
                - IDs are normally in UUID format, but have been replaced with shorter strings to improve
                readability.
                - All query parameters must be URI encoded.

                ### By status

                With status of id=ABC, find all incidents that are set to that status:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'status[one_of]=ABC'

                Or all incidents that are not set to status with id=ABC:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'status[not_in]=ABC'

                ### By created_at

                Find all incidents created_at before or after a given date.
                Possible values are "gte" (greater than or equal to) and "lte" (less than or equal to). The
                following example finds all incidents created before or on 2021-01-02:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'created_at[lte]=2021-01-02'

                ### By status category

                Find all incidents that are in a status category. Possible values are "triage",
                "declined", "merged", "canceled", "live", "learning" and "closed":

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'status_category[one_of]=live'

                Or all incidents that are not in a status category:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'status_category[not_in]=live'


                ### By severity

                With severity of id=ABC, find all incidents that are set to that severity:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'severity[one_of]=ABC'

                Or all incidents where severity rank is greater-than-or-equal-to the rank of severity
                id=ABC:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'severity[gte]=ABC'

                Or all incidents where severity rank is less-than-or-equal-to the rank of severity id=ABC:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'severity[lte]=ABC'

                ### By incident type

                With incident type of id=ABC, find all incidents that are of that type:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'incident_type[one_of]=ABC'

                Or all incidents not of that type:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'incident_type[not_in]=ABC'

                ### By incident mode

                By default, we return standard and retrospective incidents. This means that test and
                tutorial incidents are filtered out. To override this behaviour, you can use the
                mode filter to specify which modes you want to get.

                To find incidents of all modes:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'mode[one_of]=standard&mode[one_of]=retrospective&mode[one_of]=test&mode[one_of]=tutorial'

                To find just test incidents:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'mode[one_of]=test'


                ### By incident role

                Roles and custom fields have another nested layer in the query parameter, to account for
                operations against any of the roles or custom fields created in the account.

                With incident role id=ABC, find all incidents where that role is unset:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'incident_role[ABC][is_blank]=true'

                Or where the role has been set:

                		curl --get 'https://api.incident.io/v2/incidents' \
                			--data 'incident_role[ABC][is_blank]=false'

                ### By option custom fields

                With an option custom field id=ABC, all incidents that have field ABC set to the custom
                field option of id=XYZ:

                		curl \
                			--get 'https://api.incident.io/v2/incidents' \
                			--data 'custom_field[ABC][one_of]=XYZ'

                Or all incidents that do not have custom field id=ABC set to option id=XYZ:

                		curl \
                			--get 'https://api.incident.io/v2/incidents' \
                			--data 'custom_field[ABC][not_in]=XYZ'
            operationId: Incidents V2#List
            parameters:
                - name: page_size
                  in: query
                  description: number of records to return
                  required: false
                  type: integer
                  default: 25
                - name: after
                  in: query
                  description: An incident's ID. This endpoint will return a list of incidents after this ID in relation to the API response order.
                  required: false
                  type: string
                - name: status
                  in: query
                  description: Filter on incident status. The accepted operators are 'one_of', or 'not_in'.
                  required: false
                  type: map
                - name: status_category
                  in: query
                  description: 'Filter on the category of the incidents status. The accepted operators are ''one_of'', or ''not_in''. If this is not provided, this value defaults to `{"one_of": ["triage", "active", "post-incident", "closed"] }`, meaning that canceled, declined and merged incidents are not included.'
                  required: false
                  type: map
                - name: created_at
                  in: query
                  description: Filter on incident created at timestamp. The accepted operators are 'gte', 'lte' and 'date_range'.
                  required: false
                  type: map
                - name: severity
                  in: query
                  description: Filter on incident severity. The accepted operators are 'one_of', 'not_in', 'gte', 'lte'.
                  required: false
                  type: map
                - name: incident_type
                  in: query
                  description: Filter on incident type. The accepted operators are 'one_of, or 'not_in'.
                  required: false
                  type: map
                - name: incident_role
                  in: query
                  description: Filter on an incident role. Role ID should be sent, followed by the operator and values. The accepted operators are 'one_of', 'is_blank'.
                  required: false
                  type: map
                - name: custom_field
                  in: query
                  description: Filter on an incident custom field. Custom field ID should be sent, followed by the operator and values. Accepted operator will depend on the custom field type.
                  required: false
                  type: map
                - name: mode
                  in: query
                  description: 'Filter on incident mode. The accepted operator is ''one_of''.  If this is not provided, this value defaults to `{"one_of": ["standard", "retrospective"] }`, meaning that test and tutorial incidents are not included.'
                  required: false
                  type: map
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV2ListResponseBody'
                        required:
                            - incidents
            schemes:
                - https
        post:
            tags:
                - Incidents V2
            summary: Create Incidents V2
            description: |
                Create a new incident.

                Note that if the incident mode is set to "retrospective" then the new incident
                will not be announced in Slack.
            operationId: Incidents V2#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentsV2CreateRequestBody'
                    required:
                        - idempotency_key
                        - visibility
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV2CreateResponseBody'
                        required:
                            - incident
            schemes:
                - https
    /v2/incidents/{id}:
        get:
            tags:
                - Incidents V2
            summary: Show Incidents V2
            description: |
                Get a single incident.

                The ID supplied can be either the incident's full ID, or the numeric part of its
                reference. For example, to get INC-123, you could use either its full ID or:

                		curl \
                			--get 'https://api.incident.io/v2/incidents/123
            operationId: Incidents V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the incident
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV2ShowResponseBody'
                        required:
                            - incident
            schemes:
                - https
    /v2/incidents/{id}/actions/edit:
        post:
            tags:
                - Incidents V2
            summary: Edit Incidents V2
            description: |
                Edit an existing incident.

                This endpoint allows you to edit the properties of an existing incident: e.g. set the severity or update custom fields.

                When using this endpoint, only fields that are provided will be edited (omitted fields
                will be ignored).
            operationId: Incidents V2#Edit
            parameters:
                - name: id
                  in: path
                  description: The unique identifier of the incident that you want to edit
                  required: true
                  type: string
                - name: EditRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/IncidentsV2EditRequestBody'
                    required:
                        - incident
                        - notify_incident_channel
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/IncidentsV2EditResponseBody'
                        required:
                            - incident
            schemes:
                - https
    /v2/managed_resources:
        post:
            tags:
                - Managed Resources V2
            summary: CreateManagedResource Managed Resources V2
            description: Called by external providers such as Terraform, this can 'claim' an incident.io resource as being managed externally.
            operationId: Managed Resources V2#CreateManagedResource
            parameters:
                - name: CreateManagedResourceRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/ManagedResourcesV2CreateManagedResourceRequestBody'
                    required:
                        - annotations
                        - resource_type
                        - resource_id
                        - managed_by
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/ManagedResourcesV2CreateManagedResourceResponseBody'
                        required:
                            - managed_resource
            schemes:
                - https
    /v2/schedule_entries:
        get:
            tags:
                - Schedules V2
            summary: ListScheduleEntries Schedules V2
            description: Get a list of schedule entries.
            operationId: Schedules V2#ListScheduleEntries
            parameters:
                - name: schedule_id
                  in: query
                  description: The ID of the schedule to get entries for.
                  required: true
                  type: string
                - name: entry_window_start
                  in: query
                  description: The start of the window to get entries for.
                  required: false
                  type: string
                  format: date-time
                - name: entry_window_end
                  in: query
                  description: The end of the window to get entries for.
                  required: false
                  type: string
                  format: date-time
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SchedulesV2ListScheduleEntriesResponseBody'
                        required:
                            - schedule_entries
            schemes:
                - https
    /v2/schedules:
        get:
            tags:
                - Schedules V2
            summary: List Schedules V2
            description: List configured schedules.
            operationId: Schedules V2#List
            parameters:
                - name: page_size
                  in: query
                  description: number of records to return
                  required: false
                  type: integer
                  default: 25
                - name: after
                  in: query
                  description: A schedule's ID. This endpoint will return a list of schedules after this ID in relation to the API response order.
                  required: false
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SchedulesV2ListResponseBody'
                        required:
                            - schedules
            schemes:
                - https
        post:
            tags:
                - Schedules V2
            summary: Create Schedules V2
            description: Create a new schedule.
            operationId: Schedules V2#Create
            parameters:
                - name: CreateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/SchedulesV2CreateRequestBody'
                    required:
                        - schedule
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/SchedulesV2CreateResponseBody'
                        required:
                            - schedule
            schemes:
                - https
    /v2/schedules/{id}:
        get:
            tags:
                - Schedules V2
            summary: Show Schedules V2
            description: Get a single schedule.
            operationId: Schedules V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique internal ID of the schedule
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SchedulesV2ShowResponseBody'
                        required:
                            - schedule
            schemes:
                - https
        put:
            tags:
                - Schedules V2
            summary: Update Schedules V2
            description: Update a schedule.
            operationId: Schedules V2#Update
            parameters:
                - name: id
                  in: path
                  description: The schedule ID to update.
                  required: true
                  type: string
                - name: UpdateRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/SchedulesV2UpdateRequestBody'
                    required:
                        - schedule
                        - annotations
                        - name
                        - timezone
                        - external_provider
                        - external_provider_id
                        - created_at
                        - updated_at
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/SchedulesV2UpdateResponseBody'
                        required:
                            - schedule
            schemes:
                - https
        delete:
            tags:
                - Schedules V2
            summary: Destroy Schedules V2
            description: Archives a single schedule.
            operationId: Schedules V2#Destroy
            parameters:
                - name: id
                  in: path
                  description: Unique internal ID of the schedule
                  required: true
                  type: string
            responses:
                "202":
                    description: Accepted response.
            schemes:
                - https
    /v2/users:
        get:
            tags:
                - Users V2
            summary: List Users V2
            description: List users for an organisation.
            operationId: Users V2#List
            parameters:
                - name: email
                  in: query
                  description: Filter by email address
                  required: false
                  type: string
                - name: slack_user_id
                  in: query
                  description: Filter by Slack user ID
                  required: false
                  type: string
                - name: page_size
                  in: query
                  description: Integer number of records to return
                  required: false
                  type: integer
                  default: 25
                  maximum: 500
                - name: after
                  in: query
                  description: An record's ID. This endpoint will return a list of records after this ID in relation to the API response order.
                  required: false
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/UsersV2ListResponseBody'
                        required:
                            - users
                            - pagination_meta
            schemes:
                - https
    /v2/users/{id}:
        get:
            tags:
                - Users V2
            summary: Show Users V2
            description: Get a single user.
            operationId: Users V2#Show
            parameters:
                - name: id
                  in: path
                  description: Unique identifier of the user
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/UsersV2ShowResponseBody'
                        required:
                            - user
            schemes:
                - https
    /v2/workflows:
        get:
            tags:
                - Workflows V2
            summary: ListWorkflows Workflows V2
            description: List all workflows
            operationId: Workflows V2#ListWorkflows
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/WorkflowsV2ListWorkflowsResponseBody'
                        required:
                            - workflows
            schemes:
                - https
        post:
            tags:
                - Workflows V2
            summary: CreateWorkflow Workflows V2
            description: Create a new workflow
            operationId: Workflows V2#CreateWorkflow
            parameters:
                - name: CreateWorkflowRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/WorkflowsV2CreateWorkflowRequestBody'
                    required:
                        - name
                        - trigger
                        - once_for
                        - condition_groups
                        - steps
                        - expressions
                        - include_private_incidents
                        - runs_on_incident_modes
                        - continue_on_step_error
                        - runs_on_incidents
            responses:
                "201":
                    description: Created response.
                    schema:
                        $ref: '#/definitions/WorkflowsV2CreateWorkflowResponseBody'
                        required:
                            - workflow
                            - management_meta
            schemes:
                - https
    /v2/workflows/{id}:
        get:
            tags:
                - Workflows V2
            summary: ShowWorkflow Workflows V2
            description: Show a workflow by ID
            operationId: Workflows V2#ShowWorkflow
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the workflow
                  required: true
                  type: string
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/WorkflowsV2ShowWorkflowResponseBody'
                        required:
                            - workflow
                            - management_meta
            schemes:
                - https
        put:
            tags:
                - Workflows V2
            summary: UpdateWorkflow Workflows V2
            description: Updates a workflow
            operationId: Workflows V2#UpdateWorkflow
            parameters:
                - name: id
                  in: path
                  description: ID of the workflow to update
                  required: true
                  type: string
                - name: UpdateWorkflowRequestBody
                  in: body
                  required: true
                  schema:
                    $ref: '#/definitions/WorkflowsV2UpdateWorkflowRequestBody'
                    required:
                        - name
                        - once_for
                        - condition_groups
                        - steps
                        - expressions
                        - include_private_incidents
                        - runs_on_incident_modes
                        - continue_on_step_error
                        - runs_on_incidents
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/WorkflowsV2UpdateWorkflowResponseBody'
                        required:
                            - workflow
                            - management_meta
            schemes:
                - https
        delete:
            tags:
                - Workflows V2
            summary: DestroyWorkflow Workflows V2
            description: Archives a workflow
            operationId: Workflows V2#DestroyWorkflow
            parameters:
                - name: id
                  in: path
                  description: Unique identifier for the workflow
                  required: true
                  type: string
            responses:
                "204":
                    description: No Content response.
            schemes:
                - https
    /x-audit-logs/alert_route.created.1:
        get:
            tags:
                - Audit logs
            summary: AlertRouteCreatedV1 Audit logs
            description: This entry is created whenever an alert route is created
            operationId: Audit logs#AlertRouteCreatedV1
            responses:
                "200":
                    description: OK response.
                    schema:
                        $ref: '#/definitions/AuditLogsAlertRouteCreatedV1ResponseBody'
                        required:
                            - action
                            - occurred_at
                            - version
                            - actor
                            - targets
                            - context
            schemes:
                - https
    /x-audit-logs/alert_route.deleted.1:
        get:
            tags:
                - Audit logs
            summary: AlertRouteDeletedV1 Audit logs
[...]
